@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family:"code-light","nanumsquare", "Roboto","generica-bold-er", "Noto Sans KR", sans-serif;
  }
  
  /* 노말라이즈 */
  body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
  }
  
  a {
    color:inherit;
    text-decoration:none;
  }
  
  label[for] {
    cursor:pointer;
    user-select:none;
  }
  
  /* 라이브러리 */
  .block {
    display:block;
  }
  
  .inline-block {
    display:inline-block;
  }
  
  .absolute-left {
    position:absolute;
    left:0;
  }
  
  .absolute-right {
    position:absolute;
    right:0;
  }
  
  .absolute-bottom {
    position:absolute;
    bottom:0;
  }
  
  .absolute-top {
    position:absolute;
    top:0;
  }
  
  .absolute-center {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
  }
  
  .absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
  }
  
  .absolute-middle.absolute-center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
  }
  
  .relative {
    position:relative;
  }
  
  .cell {
    float:left;
    box-sizing:border-box;
  }
  
  .cell-right {
    float:right;
    box-sizing:border-box;
  }
  
  .row::after {
    content:"";
    display:block;
    clear:both;
  }
  
  .clear-both {
    clear:both;
  }
  
  .img-box > img {
    width:100%;
    display:block;
  }
  
  .con {
    margin-left:auto;
    margin-right:auto;
  }
  
  .margin-0-auto {
    margin-left:auto;
    margin-right:auto;
  }
  
  .text-align-center {
    text-align:center;
  }
  
  .text-align-right {
    text-align:right;
  }
  
  .line-height-0 {
    line-height:0;
  }
  
  .line-height-0 > * {
    line-height:normal;
  }
  
  .width-30px {
    width:30px;
  }
  
  .width-35px {
    width:35px;
  }
  
  .width-40px {
    width:35px;
  }
  
  .width-45px {
    width:35px;
  }
  
  .width-50px {
    width:50px;
  }
  
  .width-80px {
    width:80px;
  }
  
  .width-100px {
    width:100px;
  }
  
  .width-100p {
    width:100%;
  }
  
  .width-60p {
    width:60%;
  }
  
  .width-55p {
    width:55%;
  }
  
  .width-50p {
    width:50%;
  }
  
  .width-45p {
    width:45%;
  }
  
  .width-40p {
    width:40%;
  }
  
  .width-30p {
    width:30%;
  }
  
  .width-35p {
    width:35%;
  }
  
  .width-100p-except-30px {
    width:calc(100% - 30px);
  }
  
  .width-100p-except-35px {
    width:calc(100% - 35px);
  }
  
  .width-100p-except-40px {
    width:calc(100% - 40px);
  }
  
  .width-100p-except-50px {
    width:calc(100% - 50px);
  }
  
  .width-100p-except-80px {
    width:calc(100% - 80px);
  }
  
  .width-100p-except-100px {
    width:calc(100% - 100px);
  }
  
  .height-100p {
    height:100%;
  }
  
  .height-50p {
    height:50%;
  }
  
  .border-box {
    box-sizing:border-box;
  }
  
  .font-size-dot-8rem {
    font-size:.8rem;
  }
  
  .table-row {
    display:table;
  }
  
  .table-row.row::after {
    display:inline;
    clear:non;
  }
  
  .table-row > .cell {
    float:none;
    display:table-cell;
  }
  
  .border-red {
    border:10px solid red;
  }
  
  .border-green {
    border:10px solid green;
  }
  
  .border-blue {
    border:10px solid blue;
  }
  
  .border-gold {
    border:10px solid gold;
  }
  
  .border-pink {
    border:10px solid pink;
  }
  
  /* 라이브러리 - flex */
  * > .flex {
    display:flex;
  }
  
  * > .flex-grow-1 {
    flex-grow:1;
  }
  
  * > .flex-jc-c {
    justify-content:center;
  }
  
  * > .flex-jc-s {
    justify-content:flex-start;
  }
  
  * > .flex-jc-e {
    justify-content:flex-end;
  }
  
  * > .flex-jc-sb {
    justify-content:space-between;
  }  

  * > .flex-jc-sa {
    justify-content:space-around;
  }
  
  * > .flex-ai-c {
    align-items:center;
  }
  
  * > .flex-ai-s {
    align-items:flex-start;
  }
  
  * > .flex-ai-e {
    align-items:flex-end;
  }
  
  * > .flex-as-s {
    align-self:stretch;
  }
  
  * > .flex-as-c {
    align-self:center;
  }
  
  * > .flex-as-s {
    align-self:flex-start;
  }
  
  * > .flex-as-e {
    align-self:flex-end;
  }
  
  * > .flex-column-nowrap {
    flex-flow:column nowrap;
  }
  
  * > .flex-column-wrap {
    flex-flow:column wrap;
  }
  
  * > .flex-row-wrap {
    flex-flow:row wrap;
  }
  
  .flex-ch-basis-0 > * {
    flex-basis:0;
  }
  
  * > .flex-1-0-0 {
    flex:1 0 0;
  }
  
  /* 커스텀 */

  .con-min-width {
    min-width:800px;
  }
  
  .con {
    margin-left:5%;
    margin-right:5%;
  }

@media (min-width:1700px){
  .con{
    margin-left:8%;
    margin-right:8%;
  }
}

  /* 메인페이지 */
  .page-1{
      height:100vh;
      overflow: hidden;
  }
  .page-1>.page-1-con{
      height: 100%;;
      position: relative;
  }
  .page-1>.page-1-con>div:first-child{
      position: absolute;
      transform-origin:bottom left;
      transform: rotate(90deg);
      font-size: 4.5rem;
      top:10%;
      left: 15%;
  }
  .page-1>.page-1-con>div:nth-child(2){
    position: absolute;
    transform-origin:top right;
    transform: rotate(90deg);
    font-size: 4.5rem;
    top:85%;
    right: 15%;
}
.page-1>.page-1-con>div:nth-child(2)::before{
  content:"";
  position: absolute;
  top:42%;
  right:105%;
  width:120px;
  height: 1px;
  background-color: black;
}
.page-1>.page-1-con>div:nth-child(3){
  position: absolute;
  top:50%;
  left: 50%;
  width:800px;
  height: 800px;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
}
@media (max-width:1600px){
  .page-1>.page-1-con>div:nth-child(3){
    width:500px;
    height: 500px;
  }
}
@media (max-width:1200px){
  .page-1>.page-1-con>div:nth-child(3){
    width:400px;
    height: 400px;
  }
  
}

.page-1>.page-1-con>div:nth-child(3)::before{
  content:"03";
  display: inline-block;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left: -5%;
  z-index: 1;
  font-family: "Roboto";
  color:#6d6d6d;
}
.page-1>.page-1-con>div:nth-child(3)::after{
  content:"08";
  display: inline-block;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right: -5%;
  z-index: 1;
  font-family: "Roboto";
  color:#6d6d6d;
}
@media (max-width:1000px){
  .page-1>.page-1-con>div:nth-child(3)::after{
    content: "";
  }
  .page-1>.page-1-con>div:nth-child(3)::before{
    content: "";
  }
}
.page-1>.page-1-con>div:nth-child(3)>div{
  width:100%;
  height: 100%;
  transform:rotate(45deg);
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(0,222,255,1) 0%, rgba(156,173,197,1) 44%, rgba(255,141,160,1) 100%);
  position: relative;
}

.page-1>.page-1-con>div:nth-child(3)>div>img{
  animation:rotate_image 100s linear infinite;
  position: absolute;
  top:0%;
  left: 0%;
  margin-top: -10%;
  margin-left: -10%;
  width:120%;
  height: 120%;
}
@keyframes rotate_image{
  100%{
    transform:rotate(360deg);
  }
}
.page-1>.page-1-con>div:nth-child(4){
position: absolute;
top:17%;
right: 16%;
width:30px;
height: 30px;
}
.page-1>.page-1-con>div:nth-child(4)>div{
  width:100%;
  height: 1px;
  background-color: black;
}
.page-1>.page-1-con>div:nth-child(4)>div:nth-child(2){
  margin-top:9px;
}
.page-1>.page-1-con>div:nth-child(4)>div:nth-child(3){
  margin-top:9px;
}
.page-1>.page-1-con>div:nth-child(5){
  position: absolute;
  transform-origin:bottom left;
  transform: rotate(90deg);
  font-size: 1rem;
  font-weight: 500;
  bottom:15%;
  left: 0%;
  font-family: "generica";
}
.page-1>.page-1-con>div:nth-child(6){
  position: absolute;
  transform-origin:bottom left;
  transform: rotate(90deg);
  font-size: 1rem;
  font-weight: 500;
  bottom:20%;
  right: 0%;
  font-family: "generica";
}

/* 두번째 배너 */
.page-2>.page-2-con{
  position: relative;
  height: 300vh;
}
@media (max-width:1300px){
  .page-2>.page-2-con{
    height: 250vh;
  }
}
@media (max-width:1000px){
  .page-2>.page-2-con{
    height: 200vh;
  }
}
.page-2>.page-2-con>.bg-line{
  position: absolute;
  top:0;
  left: 0;
  bottom:0;
  right:0;
  z-index: -1;
}
.page-2>.page-2-con>.bg-line>div{
  height:100%;
  width:1px;
  background-color: #dfdfdf;
}
.page-2>.page-2-con>.bg-line>div:nth-child(2){
  position: relative;
}
.page-2>.page-2-con>.bg-line>div:nth-child(2)::after{
  content: "02";
  position: absolute;
  display: inline-block;
  top:700px;
  left: 5px;
  font-family: "generica";
  font-size: 1rem;

}
.page-2>.page-2-con>.bg-line>div:nth-child(5){
  position: relative;
}
.page-2-con>.bg-line>div:nth-child(5)::after{
  content: "page-02";
  position: absolute;
  display: inline-block;
  top:1100px;
  left: 5px;
  font-family: "generica";
  font-size: 1rem;
  white-space: nowrap;
  transform: rotate(90deg);
  transform-origin: left bottom;
}
@media (max-width:800px){
  .page-2>.page-2-con>.bg-line>div:first-child{
    display: none;
  }
  .page-2>.page-2-con>.bg-line>div:last-child{
    display: none;
  }
}
.page-2>.page-2-con>div>.page-2-content{
  text-align: center;
  padding-top:900px;
  font-size: 3.5vw;
}
.page-2>.page-2-con>div>.page-2-content>div:last-child{
  font-size: 1rem;
}
.page-2>.page-2-con>.pad{
  position: absolute;
  top: 250vh;
  left: 50%;
  transform:translateX(-50%);
  width:90%;
}
/* 페이지2 끝 */
/* 페이지3 */
.page-3{
  background-color: #565656;
  height:35vh;
  position: relative;
}

.page-3>.page-3-con{
  height: 100%;
  position: relative;
}
.page-3>.page-3-con>.page-3-line{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.page-3>.page-3-con>.page-3-line>div{
  height: 100%;
  width:1px;
  background-color: #dfdfdf;
}
.page-3>.page-3-con>.page-3-line>div:nth-child(2){
  margin-right: 25%;
}
.page-3>.pad{
  position: absolute;
  bottom:0;
  left: 51%;
  transform:translateX(-50%);
  width:80%;
}
.page-3>.pad>.pad-content{
  position: absolute;
  top:10.5%;
  left: 48.42%;
  transform: translateX(-50%);
  width:84.4%;
  height: 72.5%;
}
.page-3>.pad>.pad-content>.pad-top-bar{
  font-size: 3.5vw;
  border-bottom: 1px solid #dfdfdf;
  padding:18px 0 10px;
  text-align: center;
}
.page-3>.pad>.pad-content>.pad-top-bar>div:first-child{
  width:60px;
}
.page-3>.pad>.pad-content>.pad-top-bar>div:last-child{
  width:30px;
  height: 30px;
  margin-right:30px;
  margin-top:10px;
  }
  .page-3>.pad>.pad-content>.pad-top-bar>div:last-child>div{
  width:100%;
  height: 1px;
  background-color: black;
}
.page-3>.pad>.pad-content>.pad-top-bar>div:last-child>div:nth-child(2){
  margin-top:9px;
}
.page-3>.pad>.pad-content>.pad-top-bar>div:last-child>div:nth-child(3){
  margin-top:9px;
}
.page-3>.pad>.pad-content>.pad-in{
  height: calc(100% - 78px);
  font-family: "nanumsquare";
  font-size: 0.7vw;
}
.page-3>.pad>.pad-content>.pad-in>.information{
  width:30%;
  border-right:1px solid #dfdfdf;
  box-sizing: border-box;
  padding: 3%;
  line-height: 1.5vw;
}
@media (max-width:1300px){
  .page-3>.pad>.pad-content>.pad-in>.information>div>div>div{
    display: none;
  }
}
.page-3>.pad>.pad-content>.pad-in>.information>div:first-child{
  line-height: 1vw;
}
.page-3>.pad>.pad-content>.pad-in>.information>div:nth-child(2){
  width:100%;
  height: 54%;
  background-color: #dfdfdf;
  margin:10px 0;
}
.page-3>.pad>.pad-content>.pad-in>.information>.info-text>div:first-child{
  padding-right: 1vw;
}
.page-3>.pad>.pad-content>.pad-in>.skill{
  box-sizing: border-box;
  padding: 3%;
}
.page-3>.pad>.pad-content>.pad-in>.skill>.skills{
  margin-top:10px;
}
.page-3>.pad>.pad-content>.pad-in>.skill>.skills>div{
margin-bottom: 5vw;
width:45%;
}
.page-3>.pad>.pad-content>.pad-in>.skill>.skills>div:nth-child(2n){
  margin-left: 2vw;
}
.page-3>.pad>.pad-content>.pad-in>.skill>.skills>div>div:first-child{
  width:30%;
  border:5px solid #dfdfdf;
  border-radius: 50%;
}
.page-3>.pad>.pad-content>.pad-in>.skill>.skills>div>div:first-child>div{
  margin: 2px;
}
.page-3>.pad>.pad-content>.pad-in>.skill>.skills>div>div:first-child>div>div{
  position: relative;
}
.page-3>.pad>.pad-content>.pad-in>.skill>.skills>div>div:first-child>div>div>div{
  position: absolute;
  top:40%;
  right:7%;
  font-size: 1.4vw;
  font-weight: 500;
  font-family: "nanumsquare";
}
.page-3>.pad>.pad-content>.pad-in>.skill>.skills>div>div:last-child{
  width:70%;
  padding-top:5%;
  margin-left: 5%;
}
.page-3>.pad>.pad-content>.pad-in>.skill>.skills>div>div:last-child>div:first-child{
  border-bottom: 1px solid #dfdfdf;
}
.page-3>.pad>.pad-content>.pad-in>.skill>.skills>div>div:last-child>div:last-child{
  font-size: 1.5vw;
}
  body{
      height: 10000px;
  }
/* 페이지3끝 */
  /* 페이지4 */
  .page-4{
    background-color: #565656;
    position: relative;
  }
  
  .page-4>.page-4-con{
    height: 100%;
    position: relative;
  }
  .page-4>.page-4-con>.page-4-line{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
  }
  .page-4>.page-4-con>.page-4-line>div{
    height: 100%;
    width:1px;
    background-color: #dfdfdf;
    position: relative;
  }
  .page-4>.page-4-con>.page-4-line>div:last-child::after{
    content:"page-04";
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    top:85%;
    left: 0;
    color:white;
    transform-origin: left bottom;
    transform:rotate(90deg);
    font-family: "generica";
    font-size: 1.3vw;
    padding-bottom:5px;
  }
  .page-4>.page-4-con>.page-4-line>div:nth-child(2){
    margin-right: 25%;
  }
  .page-4>.page-4-con>.phone{
    width:37.5%;
    height: 100%;
  }
  .page-4>.page-4-con>.phone>.phone-img{
    transform: translateX(5%) translateY(5%);
    position: relative;
  }
  .page-4>.page-4-con>.phone>.phone-img>.phone-img-in{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(46,157,201,1) 36%, rgba(72,78,214,1) 87%);
    position: absolute;
    top:12%;
    left: 14%;;
    height: 63%;
    width:60%;
    overflow: hidden;
    overflow-y:scroll;
    border-radius: 5px;
    border:1px solid #818291;
  }
  .page-4>.page-4-con>.phone>.phone-img>.phone-img-in::after{
    content: "VIEW";
    position: fixed;
    top:42%;
    left: 45%;
    transform:translateX(-50%) translateY(-50%);
    display:inline-block;
    border:1px solid white;
    border-radius:10px;
    color:white;
    padding:3% 6%;
    font-family: "generica-bold-er";
    opacity: 0;
    transition:opacity .3s;
    z-index: 5;
    font-size: 1.5vw;
  }
  .page-4>.page-4-con>.phone>.phone-img>.phone-img-in::after:hover{
    background-color: white;
    color:black;
  }
  .page-4>.page-4-con>.phone>.phone-img>.phone-img-in:hover::after{
    opacity: .8;
  }
  .page-4>.page-4-con>.phone>.phone-img>.phone-img-in::-webkit-scrollbar{
    display: none;
  }
  .page-4>.page-4-con>.phone>.phone-img>.phone-img-in>a>img{
    width:100%;
  }
  .page-4>.page-4-con>.phone>.phone-img:hover>.phone-img-in>a>img{
  }
  .page-4>.page-4-con>.phone>.phone-img>.phone-img-in>a{
    display:block;
    margin:0;
    padding:0;
    position: relative;
  }
  .page-4>.page-4-con>.phone>.phone-img>.phone-img-in>a::after{
    content:"";
    display: block;
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0);
    transition:background-color .3s;
    z-index: 3;
  }
  .page-4>.page-4-con>.phone>.phone-img>.phone-img-in:hover>a::after{
    background-color: rgba(0, 0, 0, 0.5);
  }
  .page-4>.page-4-con>.phone>div:first-child{
    border-bottom: 1px solid #dfdfdf;
    color:white;
    padding:10px;
  }
  .page-4>.page-4-con>.phone>div:first-child>div:first-child{
    font-size: 3.5vw;
    padding-left: 5%;
  }
  @media(max-width:1100px){
    .page-4>.page-4-con>.phone>div:first-child>div:last-child{
      display: none;
    }
  }
  .page-4>.page-4-con>.watch{
    width:62.5%;
    height: 100%;
    padding-bottom: 5%;
  }
  .page-4>.page-4-con>.watch>.watches{
    width:100%;
    border-top:1px solid #dfdfdf;
    margin-top:125px;
    text-align: center;
    height: 100%;
  }
  .page-4>.page-4-con>.watch>.watches>div{
    margin: 0 auto;
    height: 80%;
    width:90%;
    padding-top: 8%;
  }
  .page-4>.page-4-con>.watch>.watches>div>div{
    background-color: black;
    width:calc(100% / 3 - 4%);
    padding-bottom: 30%;
    border-radius:15%;
    margin:2%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
  }
  .page-4>.page-4-con>.watch>.watches>div>div:nth-child(3n+2){
    transform: translateY(-20px);
  }
  .page-4>.page-4-con>.watch>.watches>div>div>div{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    color:white;
  }
  .page-4>.page-4-con>.watch>.watches>div>div>div>.watch-in{
    padding-top: 10%;
    padding-left: 10%;
    font-family: "generica";
  }
  .page-4>.page-4-con>.watch>.watches>div>div>div>.watch-in>div:first-child{
    font-size:1.2vw;
    padding-left: 3%;
    padding-top: 2%;
  }
  .page-4>.page-4-con>.watch>.watches>div>div>div>.watch-in>div:last-child{
    width:10%;
    padding-right: 10%;
    padding-top:3%;
    cursor:pointer;
  }
  .page-4>.page-4-con>.watch>.watches>div>div>div>.watch-in>div:last-child>div{
    height: 1px;
    width:100%;
    background-color: white;
    margin-top:30%;
    z-index: 10;
  }
  .page-4>.page-4-con>.watch>.watches>div>div>div>.watch-in>div:last-child>div:last-child{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width:100%;
    margin-top: 0;
    background: linear-gradient(0deg, rgba(242,242,245,1) 0%, rgba(222,226,231,1) 34%, rgba(205,213,219,1) 100%);
    z-index: 5;
    transform: translateY(-110%);
    transition: transform .5s cubic-bezier(.86,1.59,.6,.74);
    border-radius:14%;
    color:black;
  }
  
  .page-4>.page-4-con>.watch>.watches>div>div>div>.watch-in>div:last-child>div:last-child>div:first-child{
    font-size: 1vw;
    padding-top:5%;
  }
  .page-4>.page-4-con>.watch>.watches>div>div>div>.watch-in>div:last-child>div:last-child>div:nth-child(2){
    text-align: center;
    padding-top:28%;
    font-size: 1vw;
  }
  
  .page-4>.page-4-con>.watch>.watches>div>div>div>.watch-in>div:last-child>div:last-child>div:last-child{
    font-size: 2vw;
    font-family: "nanumsquare"
  }
  .page-4>.page-4-con>.watch>.watches>div>div>div>.watch-in>div:last-child.active>div:last-child{
    transform: translateY(0%);
  }
  .page-4>.page-4-con>.watch>.watches>div>div>div>.watch-name{
    position: absolute;
    top:55%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width:85%;
    padding:15% 0;
    font-size: 2vw;
    word-break:break-all;
    cursor: pointer;
    font-weight: 100;
    font-family: "generica";
    z-index: 1;
  }
  .page-4>.page-4-con>.watch>.watches>div>div>div>.watch-circle{
    position: absolute;
    top:56%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    width:0%;
    height: 0%;
    background: linear-gradient(0deg, rgba(74,220,237,1) 0%, rgba(72,78,214,1) 100%);
    border-radius:50%;
    transition: width .4s, height .4s;
  }
  .page-4>.page-4-con>.watch>.watches>div>div>div:hover>.watch-circle{
    width:51%;
    height: 50%;
  }
  .page-4>.page-4-con>.watch>.watches>div>div>div>.watch-circle::after{
    content:"";
    display: block;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width:0%;
    height: 0%;
    background-color: black;
    border-radius:50%;
    z-index: 1;
    transition: width .5s .35s, height .5s .35s;
  }
  .page-4>.page-4-con>.watch>.watches>div>div>div:hover>.watch-circle::after
{
    width:45%;
    height: 45%;
  }
  .page-4>.page-4-con>.watch>.watches>div>div>div>.watch-circle.active::after{
    width:90%;
    height: 90%;
    transition: width .5s, height .5s;
  }
  .page-4>.page-4-con>.watch>.watches>div>div>div>.watch-circle.active{
    width:51%;
    height: 50%;
    background: linear-gradient(0deg, rgba(237,74,171,1) 0%, rgba(72,78,214,1) 100%);
    animation:rotate_circle 5s linear infinite;
  }
@keyframes rotate_circle{
  100%{
    transform: translateX(-50%) translateY(-50%) rotate(405deg);
  }
}
/* 페이지4 끝 */
/* 페이지5 시작 */
.page-5>.page-5-con{
  position:relative;
}
.page-5>.page-5-con>.bg-line{
  position: absolute;
  top:0;
  left: 0;
  bottom:0;
  right:0;
  z-index: -1;
}
.page-5>.page-5-con>.bg-line>div{
  height:100%;
  width:1px;
  background-color: #dfdfdf;
}
.page-5>.page-5-con>.page-5-in{
  height: 100%;
}
.page-5>.page-5-con>.page-5-in>.page-5-name{
  padding-top:10%;
  font-size: 3.5vw;
  padding-right:9%;
  text-align: right;
  transform:translateY(10%);
}
.page-5>.page-5-con>.page-5-in>.page-5-content>.page-5-pad{
  width:81%;
  position: relative;
  padding-bottom: 10%;
}
.page-5>.page-5-con>.page-5-in>.page-5-content>.page-5-pad>.page-5-pad-in{
  position: absolute;
  top:7%;
  left: 5%;
  width:87%;
  height: 64%;
  border-radius:3px;
  overflow: hidden;
}
.page-5>.page-5-con>.page-5-in>.page-5-content>.page-5-pad>.page-5-pad-in>.slider{
height: 100%;
}
.page-5>.page-5-con>.page-5-in>.page-5-content>.page-5-pad>.page-5-pad-in>.slider>.slick-list{
  height: 100% !important;
}
.page-5>.page-5-con>.page-5-in>.page-5-content>.page-5-pad>.page-5-pad-in>.slider>.slick-list>.slick-track{
  height: 100% !important;
}
.page-5>.page-5-con>.page-5-in>.page-5-content>.page-5-pad>.page-5-pad-in>.slider .slider-in{
  border:2px solid green;
}
.page-5>.page-5-con>.page-5-in>.page-5-content>.page-5-pad-right{
  width:19%;
}
.page-5>.page-5-con>.page-5-in>.page-5-content>.page-5-pad-right>div:first-child{
  padding-top:15%;
  color:#565656;
  font-size: 1vw;
}

.page-5>.page-5-con>.page-5-in>.page-5-content>.page-5-pad-right>div:last-child{
  padding-top:115%;
  font-family: "generica";
  font-size: 1vw;
  line-height: 2vw;
  font-weight: 900;
}
.page-5>.page-5-con>.page-5-in>.page-5-content>.page-5-pad-right>div:last-child>div:last-child{
  color:#565656;
}


/* 푸터 */
