.blog_main{
    margin-top:70px;
    height: 300px;
    background-image: url('/resource/img/primary-color.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: 15%;
}
.blog_main>.blog-main-black{
    position:relative;
    height: 100%;
}
.blog_main>.blog-main-black>.blog-name{
    position: absolute;
    margin-bottom: 20px;
    right:50px;
    bottom: 0;
    font-size: 3.5rem;
    color:rgba(255,255,255,.9)
}
.blog_main>.blog-main-black>img{
    padding: 30px;
    opacity:.7;
}
.blog-list{
    background-color: yellowgreen;
    margin-top:50px;
}
.blog-list>.list-list{
    width:75%;
    background-color: yellow;
}
.blog-list>.list-profile{
    width:25%;
    background-color: blue;
}
.blog-list>.list-profile>.list-profile-box{
    width:90%;
    border:2px solid red;
    border-radius: 15px;
    margin-left: auto;
    margin-right: 0;
}
.blog-list>.list-profile>.list-profile-box>img{
    display: block;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    padding:50px 0;
}