/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

*>.flex-jc-c {
    display: flex;
    justify-content: center;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

*>.flex-ch-basis-0 {
    display: flex;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */
.con-min-width {
    min-width: 1356px;
}

.con {
    width: 1356px;
}

html, body{
    overflow-x: hidden;
    height: 100%;
}

@media(max-width:701px) {
    .visible-md-up {
        display: none;
    }

    body {
        padding-top: 50px;
    }
}

@media(min-width:700px) {
    .visible-sm-up {
        display: none;
    }
    html.active {
        overflow: hidden;
      }
      
    .main-bn {
        margin-top: 80px;
    }

}

/* 상단바 */

/* 탑바 시작 */
.top-bar {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #2b5cdb;
    z-index: 100;
}

.top-bar>.logo {
    flex-grow: 1;
    padding: 0 20px;
    color: white;
}
.top-bar>.logo>img{
    height: 50px;
}
.top-bar>.logo >div{
    font-size:1.5rem;
    font-weight:600;
}

.top-bar>.menu-box>ul {
    margin: 0 10px;
}

.top-bar>.menu-box>ul>li>a {
    height: 70px;
    padding: 0 20px;
    color: white;
    font-weight: 500;
}
.top-bar>.menu-box>ul>li:hover>a{
    background-color: #FFd84e;
    color:black;
} 
/* 탑바 끝 */
/* 모바일 탑바 */
.mobile-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2b5cdb;
    color: white;
    height: 50px;
    z-index: 100;
}
.mobile-top-bar>.logo>img{
    height: 40px;
}
.mobile-top-bar>.mobile-top-bar-side-bt>div {
    width: 14px;
    height: 14px;
    margin-left: 15px;
    position: relative;
    cursor: pointer;
}

.mobile-top-bar>.mobile-top-bar-side-bt>div>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: top .3s .3s, transform .3s, opacity 0s .3s;
}

.mobile-top-bar>.mobile-top-bar-side-bt>div>div:nth-child(2) {
    top: 6px;
}

.mobile-top-bar>.mobile-top-bar-side-bt>div>div:nth-child(3) {
    top: 12px;
}

.mobile-top-bar>.mobile-top-bar-side-bt.active>div>div {
    top: 6px;
    transition: top .3s, transform .3s .3s, opacity 0s .3s;
}

.mobile-top-bar>.mobile-top-bar-side-bt.active>div>div:nth-child(1) {
    transform: rotate(45deg);
}

.mobile-top-bar>.mobile-top-bar-side-bt.active>div>div:nth-child(2) {
    opacity: 0;
}

.mobile-top-bar>.mobile-top-bar-side-bt.active>div>div:nth-child(3) {
    transform: rotate(-45deg);
}

/* -모바일 사이드바- */
.mobile-side-bar {
    position: fixed;
    left: -200px;
    top: 50px;
    bottom: 0;
    width: 200px;
    background-color: white;
    transition: left .3s;
    z-index: 100;
}

.mobile-side-bar.active {
    left: 0;
}
.mobile-side-bar>ul>li{
    position:relative;
}
.mobile-side-bar ul>li>a {
    padding: 10px;
    display: block;
    font-weight: 400;
}
.mobile-side-bar ul>li>a:not(:only-child)::after{
    content:"[+]";
    float:right;
}

.mobile-side-bar ul>li.active>a:not(:only-child)::after{
    content:"[-]";
    float:right;
}
.mobile-side-bar>ul ul {
    display: none;
    background-color:white;
    
}
.mobile-side-bar>ul ul>li>a{
    padding-left: 20px;
}

.mobile-side-bar>ul ul ul>li>a{
    padding-left: 40px;
}
.mobile-side-bar ul>li.active>ul {
    display: block;
}


.mobile-side-bar ul>li.active>a {
    background-color: #5383ff;
    color: white;
}

.mobile-side-bar-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
}

.mobile-side-bar-bg.active {
    visibility: visible;
}

/* 모바일 탑바 끝 */

/* 메인베너 */
.main-bn{
    height:calc(950px - 80px);
    position: relative;
}
.main-box>div.yellow{
    background-color:#FFd84e;
    width:1200px;
    height: 1200px;
    border-radius:50%; 
    position: absolute;
    top:50%;
    right:-600px;
    transform: translateY(-50%);
}
.main-box>div.blue{
    background-color:#5383ff;
    width:700px;
    height: 700px;
    border-radius:50%; 
    position: absolute;
    top:50%;
    right:200px;
    transform: translateY(-50%);
}
.main-bn>.slider>.triangle>img{
    position: absolute;
    top:20%;
    right:500px;
    height:400px;
}
/* -메인사이드바- */
.main-bn>.slider>.triangle{
    opacity: 0;
}
.main-bn>.slider>.triangle.active{
    opacity: 1;
}
.main-bn>.side-bars{
    position: absolute;
    top:50%;
    transform:translatey(-50%);
    left: 0;
    width:60px;
    height: 80px;
    flex-direction:column;
}
.main-bn>.side-bars>.bar{
    justify-content: center;
    cursor:pointer;
}
.main-bn>.side-bars>.bar>div{
    width:7px;
    height: 7px;
    border-radius:50%;
    background-color:#afafaf;
    transition:width .3s, height .3s, background-color .3s;
}
.main-bn>.side-bars>.bar:active>div{
    width: 20px;
    height: 20px;
    background-color: #2b5cdb;
}

.main-bn>.side-bars>.bar.active>div{
    background-color: #2b5cdb;
}

/* 메인베너 끝 */