@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 10px solid red;
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.border-pink {
    border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-jc-s {
    justify-content: flex-start;
}

*>.flex-jc-e {
    justify-content: flex-end;
}

*>.flex-jc-sb {
    justify-content: space-between;
}

*>.flex-ai-c {
    align-items: center;
}

*>.flex-ai-s {
    align-items: flex-start;
}

*>.flex-ai-e {
    align-items: flex-end;
}

*>.flex-as-s {
    align-self: stretch;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-as-s {
    align-self: flex-start;
}

*>.flex-as-e {
    align-self: flex-end;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-column-wrap {
    flex-flow: column wrap;
}

*>.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */

/* 반응형 타입 1 .con 시작 */

.con {
    max-width: 1370px;
}

.con-2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.con-3{
    padding: 0 50px;

}
/* 반응형 타입 1 .con 끝 */

/* 반응형 타입 2(넓을때만 반응형) .con 시작 */
/*
  .con-min-width {
    min-width:1370px;
  }
  
  .con {
    margin-left:50px;
    margin-right:50px;
  }
  */
/* 반응형 타입 2(넓을때만 반응형) .con 끝 */

/* 폰트설정 */
.page-name {
    font-size: 3.5rem;
    font-weight: bold;
}

.btn{
    color:#fff;
    display: block;
    background-color: #6663f2;
    border-radius:50px;
    padding:12px 0;
    width:250px;
}

@media(max-width:700px){
    .page-name {
        font-size: 3rem;
    }
}
/* 탑바 css */
.top-bar {
    position: fixed;
    width:100%;
    top:0;
    left: 0;
    background-color: white;
    box-shadow: 0 0px 15px 2px #00000017;
}

.logo{
    font-family: "comfortaa";
    color: #6663f2;
    font-weight: 600;
}
.top-bar>.logo {
    font-family: "comfortaa";
    color: #6663f2;
    font-size: 1.8rem;
    padding: 15px 30px 13px;
}
.top-bar>.top-bar-menu {
    color: #7c7c7c;
}


.top-bar>.top-bar-menu>li>a {
    padding: 15px;
    height: 100%;
    position: relative;
}

.top-bar>.top-bar-menu>li>a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20%;
    width: 0%;
    height: 3px;
    opacity: 0;
    background-color: #6663f2;
    transition: all .3s;
}

.top-bar>.top-bar-menu>li:hover>a::after {
    width: 100%;
    opacity: 1;
}

.top-bar>.top-bar-right-menu {
    padding-right: 30px;
}



.top-bar>.top-bar-right-menu>li:first-child>a {
    padding: 10px 25px;
    color: #6663f2;
    margin-right: 10px;
    border-radius: 8px;
    transition: all .3s;
}


.top-bar>.top-bar-right-menu>li:first-child:hover>a {
    background-color: #6663f2;
    color: white;
}

.top-bar>.top-bar-right-menu>li:last-child>a {
    background-color: #6663f2;
    border-radius: 8px;
    padding: 10px 25px;
    color: white;
}
/* 모바일 탑바 */
.mobile-top-bar{
    position: fixed;
    width:100%;
    top:0;
    left: 0;
    background-color: white;
    box-shadow: 0 0px 15px 2px #00000017;
    height: 52px;
    z-index: 50;
}
.mobile-top-bar>.logo{
    padding:15px 0 12px;
    font-size: 1.5rem;
}

.mobile-top-bar>div:first-child{
    width:22px;
    margin-right:20px

}
.mobile-top-bar>.mobile-top-bar-menu{
    width:22px;
    margin-right:20px;
    position: relative;
}

.mobile-top-bar>.mobile-top-bar-menu>div{
    height: 2px;
    width:100%;
    background-color: #7c7c7c;
    position:absolute;
    left: 0;
    top:38%;
    transition:top .3s .3s, transform .3s;
}

.mobile-top-bar>.mobile-top-bar-menu>div:nth-child(2){
    top:50%;
}

.mobile-top-bar>.mobile-top-bar-menu>div:last-child{
    top:auto;
    top:62%;
}

.mobile-top-bar>.mobile-top-bar-menu.active>div{
    top:50%;
}

.mobile-top-bar>.mobile-top-bar-menu.active>div:first-child{
    transform: rotate(-45deg);
    transition:top .3s, transform .3s .3s;
}
.mobile-top-bar>.mobile-top-bar-menu.active>div:nth-child(2){
    opacity:0;
    transition:top .3s, transform .3s .3s;
}
.mobile-top-bar>.mobile-top-bar-menu.active>div:last-child{
    transform: rotate(45deg);
    transition:top .3s, transform .3s .3s;
}

/* 모바일 탑바 메뉴 */
.mobile-pop-up{
    position: fixed;
    top:52px;
    right:-100%;
    background-color: white;
    width:80%;
    box-shadow: 0 13px 15px 2px #00000017;
    height: calc(100% - 52px);
    transition:right .3s;
    color:#c7c7c7;
    z-index: 51;
}
.mobile-pop-up>.pop-up-content{
    color:#7c7c7c;
}
.mobile-pop-up>.pop-up-content>div:first-child{
    border-bottom: 1px solid #c7c7c7;
}
.mobile-pop-up>.pop-up-content>div:first-child>div{
    padding:30px;
}
.mobile-pop-up>.pop-up-content>div>ul>li{
    padding:15px 30px;
}

/* 로그인 페이지 */
.sign-in-page{
    padding-bottom: 210px;
}
.sign-in-page>.page-name {
    text-align: center;
    margin-top: 200px;
}

.sign-in-page>.form-container {
    margin-top:60px;
}

.sign-in-page>.form-container>.email-address {
    margin-top: 20px;
}

.sign-in-page>.form-container>.email-address>div:first-child {
    color: #6c6c6c;
    padding-left: 5px;
    font-size: 1.1rem;
}

.sign-in-page>.form-container>.email-address>input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
    width: 100%;
}

.sign-in-page>.form-container>.email-address>input::placeholder {
    color: #dcdcdc;
    padding: 10px;
}

.sign-in-page>.form-container>.password {
    margin-top: 20px;
}

.sign-in-page>.form-container>.password>div:first-child {
    color: #6c6c6c;
    font-size: 1.1rem;
    padding-left: 5px;
}

.sign-in-page>.form-container>.password>input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    padding: 10px 0;
}

.sign-in-page>.form-container>.password>input::placeholder {
    color: #dcdcdc;
    padding: 10px;
}

.sign-in-page>.form-container>.password {
    margin-top: 20px;
}

.sign-in-page>.form-container>.password>div:first-child {
    color: #6c6c6c;
    padding-left: 5px;
}

.sign-in-page>.form-container>.password>input::placeholder {
    color: #dcdcdc;
}
.sign-in-page .form-bottom{
    font-size: 12px;
}
.sign-in-page .form-bottom>div{
    color: #7c7c7c;
    padding-top:2px;
}
.sign-in-page .form-bottom>div>a{
    color:#6663f2;
    padding-left:2px;
}

.sign-in-page .form-bottom>div:last-child>a:first-child{
    color: #7c7c7c;
    position: relative;
    padding-right:6px;
}

.sign-in-page .form-bottom>div:last-child>a:first-child::after{
    content:"";
    position: absolute;
    top:0;
    right:0;
    height: 100%;
    width:1px;
    background-color: #7c7c7c;
}
.sign-in-page .continue{
    margin-top:20px;
}

@media(max-width:768px){
    .top-bar{
        display: none;
    }
    .sign-in-page>.page-name {
        text-align: left;
        margin-top:180px;
    }
    .sign-in-page .form-bottom{
        display: block;
    }
    .sign-in-page .continue{
        margin-top:150px;
    }
    .sign-in-page{
        padding-bottom:0;
    }
}
@media(min-width:767px){
    .mobile-top-bar{
        display: none;
    }

}
.sign-in-page .continue>a{
    background-color: #6663f2;
    border-radius:50px;
    color:white;
    display: inline-block;
    float:right;
    padding:12px 30px;
    margin-bottom: 20px;
}
/* sing-in-success */

.sing-in-success{
 padding:270px 0;
 text-align: center;
}
@media(max-width:768px){
    .sing-in-success{
        padding:200px 0;
    }
}
.sing-in-success>.sing-in-success-name{
    position: relative;
    display: inline-block;
}

.sing-in-success>.sing-in-success-name>div{
    font-weight: 500;
    padding:10px 0;
}
.sing-in-success>.sing-in-success-name>.quotation-mark{
    position: absolute;
    width:30px;
    left: -35px;
    top:-10px;
}
.sing-in-success>.ling{
    display: block;
    width:220px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.sing-in-success>.sing-in-success-name>.quotation-mark:nth-child(3){
    left: 103%;
    top:65%;
    transform: rotate(180deg);
}
.sing-in-success>div:nth-child(2){
    color:#6c6c6c;
}
.sing-in-success>.do-n-start>a{
    margin:30px auto;
}

/* sign-up */

.sign-up{
    padding:270px 0;
    text-align: center;
   }
   
.sign-up{
}

.sign-up>.name{
    padding-top:10px;
    text-align: left;
}
.sign-up>div:nth-child(2){
    color:#7c7c7c;
}

.sign-up>.name>div>input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
    width:48%;
    
}
.sign-up>.name>div>input::placeholder {
    color: #dcdcdc;
    padding: 10px;
    
}

/* 푸터 */
.footer{
    color:#c7c7c7;
    font-size: 0.7rem;
    border-top:1px solid #c7c7c7;

}
.footer>div{
    padding:20px 0;
}
@media(max-width:768px){
    .footer{
        display: none;
    }
}