.top-bar{
  position:fixed;
  top:30px;
  left: 0;
  width:100%;
  color:white;
  z-index: 100;
}
.top-bar>div{
  max-width:1500px;
  margin: 0 auto;
}
.top-bar>div>.logo>a{
  display: block;
  width:140px;
  padding-top:20px;
  padding-bottom:20px;
}


.top-bar>div>ul>li{
  padding:0 20px;
  font-weight: 800;
  font-size: 15px;
}

.top-bar>div>ul>li:hover{
  color:#007cff;
}

#fullpage{
min-width:1500px;
color:white;
}

#fullpage>.section1{
  background-image: url("http://sehee3527.github.io/img1/pf/align/main_20190214_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#fullpage>.section1>div{
  font-size: 22px;
  padding-left: 70px;
}

#fullpage>.section1>div>span{
  font-weight:800;
  border:2px solid red;
}

#fullpage>.section2 .video-container{
  border:2px solid red;
  display: block;

}
#fullpage>.section2 .video-container>video{
  border:2px solid blue;
  width:100%;
  height: 100vh;
}