html {
    font-family: sans-serif, "Noto Sans KR" ;
  }
  
  /* 노말라이즈 */
  body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
  }
  
  a {
    color:inherit;
    text-decoration:none;
  }
  
  label[for] {
    cursor:pointer;
    user-select:none;
  }
  
  /* 라이브러리 */
  .block {
    display:block;
  }
  
  .inline-block {
    display:inline-block;
  }
  
  .absolute-left {
    position:absolute;
    left:0;
  }
  
  .absolute-right {
    position:absolute;
    right:0;
  }
  
  .absolute-bottom {
    position:absolute;
    bottom:0;
  }
  
  .absolute-top {
    position:absolute;
    top:0;
  }
  
  .absolute-center {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
  }
  
  .absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
  }
  
  .absolute-middle.absolute-center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
  }
  
  .relative {
    position:relative;
  }
  
  .cell {
    float:left;
    box-sizing:border-box;
  }
  
  .cell-right {
    float:right;
    box-sizing:border-box;
  }
  
  .row::after {
    content:"";
    display:block;
    clear:both;
  }
  
  .clear-both {
    clear:both;
  }
  
  .img-box > img {
    width:100%;
    display:block;
  }
  
  .con {
    margin-left:auto;
    margin-right:auto;
  }
  
  .margin-0-auto {
    margin-left:auto;
    margin-right:auto;
  }
  
  .text-align-center {
    text-align:center;
  }
  
  .text-align-right {
    text-align:right;
  }
  
  .line-height-0 {
    line-height:0;
  }
  
  .line-height-0 > * {
    line-height:normal;
  }
  
  .width-30px {
    width:30px;
  }
  
  .width-35px {
    width:35px;
  }
  
  .width-40px {
    width:35px;
  }
  
  .width-45px {
    width:35px;
  }
  
  .width-50px {
    width:50px;
  }
  
  .width-80px {
    width:80px;
  }
  
  .width-100px {
    width:100px;
  }
  
  .width-100p {
    width:100%;
  }
  
  .width-60p {
    width:60%;
  }
  
  .width-55p {
    width:55%;
  }
  
  .width-50p {
    width:50%;
  }
  
  .width-45p {
    width:45%;
  }
  
  .width-40p {
    width:40%;
  }
  
  .width-30p {
    width:30%;
  }
  
  .width-35p {
    width:35%;
  }
  
  .width-100p-except-30px {
    width:calc(100% - 30px);
  }
  
  .width-100p-except-35px {
    width:calc(100% - 35px);
  }
  
  .width-100p-except-40px {
    width:calc(100% - 40px);
  }
  
  .width-100p-except-50px {
    width:calc(100% - 50px);
  }
  
  .width-100p-except-80px {
    width:calc(100% - 80px);
  }
  
  .width-100p-except-100px {
    width:calc(100% - 100px);
  }
  
  .height-100p {
    height:100%;
  }
  
  .height-50p {
    height:50%;
  }
  
  .border-box {
    box-sizing:border-box;
  }
  
  .font-size-dot-8rem {
    font-size:.8rem;
  }
  
  .table-row {
    display:table;
  }
  
  .table-row.row::after {
    display:inline;
    clear:non;
  }
  
  .table-row > .cell {
    float:none;
    display:table-cell;
  }
  
  .border-red {
    border:10px solid red;
  }
  
  .border-green {
    border:10px solid green;
  }
  
  .border-blue {
    border:10px solid blue;
  }
  
  .border-gold {
    border:10px solid gold;
  }
  
  .border-pink {
    border:10px solid pink;
  }
  
  /* 라이브러리 - flex */
  * > .flex {
    display:flex;
  }
  
  * > .flex-grow-1 {
    flex-grow:1;
  }
  
  * > .flex-jc-c {
    justify-content:center;
  }
  
  * > .flex-jc-s {
    justify-content:flex-start;
  }
  
  * > .flex-jc-e {
    justify-content:flex-end;
  }
  
  * > .flex-jc-sb {
    justify-content:space-between;
  }
  
  * > .flex-ai-c {
    align-items:center;
  }
  
  * > .flex-ai-s {
    align-items:flex-start;
  }
  
  * > .flex-ai-e {
    align-items:flex-end;
  }
  
  * > .flex-as-s {
    align-self:stretch;
  }
  
  * > .flex-as-c {
    align-self:center;
  }
  
  * > .flex-as-s {
    align-self:flex-start;
  }
  
  * > .flex-as-e {
    align-self:flex-end;
  }
  
  * > .flex-column-nowrap {
    flex-flow:column nowrap;
  }
  
  * > .flex-column-wrap {
    flex-flow:column wrap;
  }
  
  .flex-ch-basis-0 > * {
    flex-basis:0;
  }
  
  * > .flex-1-0-0 {
    flex:1 0 0;
  }
  h2{
    display: block;
    font-size:1.5rem;
    margin-block-start:0.83em;
    margin-block-end:0.83em;
    margin-inline-start:0px;
    margin-inline-end:0px;
    font-weight: bold;
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  /* 커스텀 */
  .con-min-width {
    min-width:1356px;
  }
  
  .con {
    max-width: 1168px;
  }
  
  /* 탑바 */
  .top-bar{
    position: fixed;
    height: 96px;
    width:100%;
    color:white;
    font-size:18px;
    font-weight: 900;
    z-index: 100;
}
.top-bar>.logo-box{
  margin-left: 20px;
  order:-1;
}
.top-bar>.logo-box>a>img{
  width:124px;
}
.top-bar>.menu-bar{
  transition:color .3s;
}
.top-bar>.menu-bar>li{
  position: relative;
  padding-left: 20px;
}
.top-bar>.menu-bar>li>a{
  display: block;
  width:130px;
}
@media(min-width:1600px){
  .top-bar>.menu-bar>li>a{
    width:180px;
  }
}
.top-bar>.top-right-bar>li>a{
  padding:0 15px;
}
.top-bar>.top-right-bar>li:first-child{
  transition: color .3s;
  font-size: 15px;
}  
.top-bar>.top-right-bar>li:last-child>a{
  padding:8px 16px;
  background-color: #2f2a29;
  margin-right: 20px;
  font-size: 15px;
}
.top-bar>.top-bar-bg, .top-bar-fly .top-bar-bg{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  background-color:white;
  z-index: -1;
  opacity: 0;
  border-bottom:2px solid #f0f0f0;
  box-sizing: border-box;
  transition: opacity .3s;
}
.top-bar>.menu-bar:hover,  .top-bar-fly .menu-bar{
  color:#2f2a29;
}

.top-bar>.menu-bar:hover~.top-right-bar>li:first-child,  .top-bar-fly .menu-bar~.top-right-bar>li:first-child{
  color:#888b8d;
}
.top-bar>.menu-bar~.logo-box>.logo>img:first-child{
  display: block;
}
.top-bar>.menu-bar:hover~.logo-box>.logo>img:first-child,  .top-bar-fly .menu-bar~.logo-box>.logo>img:first-child{
  display: none;
}
.top-bar>.menu-bar~.logo-box>.logo>img:last-child{
  display: none;
}
.top-bar>.menu-bar:hover~.logo-box>.logo>img:last-child,  .top-bar-fly .menu-bar~.logo-box>.logo>img:last-child{
  display: block;
}
.top-bar>.menu-bar>li:hover::after{
  content: "";
  display:block;
  position: absolute;
  width:100%;
  height: 2px;
  left: 0;
  top:calc(100% - 2px);
  background-color: #d0021b;
}
.top-bar>.menu-bar:hover~.top-bar-bg,  .top-bar-fly .menu-bar~.top-bar-bg{
  opacity: 1;
}
/* 탑바 2차메뉴 */
.top-bar>.menu-bar>li>ul{
  position:absolute;
  display: none;
  width:100%;
  top:100%;
  left: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  color:#2f2a29;
  box-sizing: border-box;
  padding:20px;
  padding-top: 40px;
}
.top-bar>.menu-bar:hover>li>ul{
  display: block;
}
.top-bar>.menu-bar>li>ul>.md-name{
  line-height: 24px;
  font-weight: 900;
  white-space:nowrap;
}
.top-bar>.menu-bar:hover>li>ul>.md-name2{
  padding-top: 40px;
}
.top-bar>.menu-bar>li:nth-child(3)>ul>li{
  display: inline-block;
  padding-right:4px;
}
.top-bar>.menu-bar>li:nth-child(3)>ul>.md-name{
  display: block;
}
.top-bar>.menu-bar>li>ul>li>a:hover{
  color:#d0021b;
}
.top-bar>.top-bar-menu-bg{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 0;
  background-color: white;
  opacity: 0.9;
  transition: height .3s;
  z-index:-1;
}
.top-bar>.menu-bar:hover~.top-bar-menu-bg{
  height: 466px;
}


  /* 탑바끝 */


/* 첫번째 배너 */
.my-slider-1{
  position:relative;
}
  .my-slider-1 .item {
    height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .my-slider-1 .item{
    text-align: center;
    font-weight: 600;
    position: relative;
  }
  .my-slider-1 .item>.main-bn-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    color:black;
  }
  .my-slider-1 .item:first-child>.main-bn-content>div{
    color:white;
  }
  
  .my-slider-1 .item>.main-bn-content>div:first-child{
    font-size: 32px;
  }

  .my-slider-1 .item>.main-bn-content>div:nth-child(2){
    font-size: 72px;
    font-weight: 500;
    margin-top: 20px;
  }
  .my-slider-1 .item>.main-bn-content>div:last-child{
    display: inline-block;
    background-color: #2f2a29;
    margin-top: 48px;
    font-size: 20px;
    padding:0 80px;
    height:64px;
    line-height: 64px;
    color:white;
    transition:background-color .3s;
  }
  .my-slider-1 .item>.main-bn-content>div:last-child:hover{
    background-color: #53565a;
  }
.my-slider-1 > .owl-carousel.owl-theme > .owl-dots{
  position:absolute;
  bottom:5%;
  left:50%;
  transform:translatex(-50%);
}

.my-slider-1 > .owl-carousel.owl-theme > .owl-dots > .owl-dot {
  height:20px;
}
.my-slider-1 > .owl-carousel.owl-theme > .owl-dots > .owl-dot > span {
  background-color:white;
  width:64px;
  height:2px;
  margin:0 5px;
  border-radius:0;
  opacity:.5;
  margin-top:19px;
}

.my-slider-1 > .owl-carousel.owl-theme > .owl-dots > .owl-dot.active > span {
  opacity:1;
}

/* 첫번째 배너 끝 */

/* 두번째 메인 상품 리스트 시작 */
.main-product{
  max-width:2560px;
  margin: 0 auto;
  padding:80px;
}
.main-product>.main-product__list>.main-product__item{
  position: relative;
  float: left;
}
.main-product>.main-product__list>.main-product__item.item_02, .main-product>.main-product__list>.main-product__item.item_02{
  margin-bottom: 240px;
}
.main-product>.main-product__list>.main-product__item.item_01, .main-product>.main-product__list>.main-product__item.item_04{
  width:calc(55% - 40px);
}
.main-product>.main-product__list>.main-product__item.item_02, .main-product>.main-product__list>.main-product__item.item_04{
  margin-left: 80px;
}
.main-product>.main-product__list>.main-product__item.item_02, .main-product>.main-product__list>.main-product__item.item_03{
  width:calc(45% - 40px);
}
.main-product>.main-product__list>.main-product__item.item_03{
  margin-top: -296px;
}
.main-product>.main-product__list>.main-product__item>.main-product__figure{
  position: relative;
  width:100%;
  height: 100%;
  z-index: 1;
  margin: 0;
}
.main-product>.main-product__list>.main-product__item>.main-product__figure>img{
  max-width:100%;
  height: auto;;
}
.main-product>.main-product__list>.main-product__item>.main-product__info{
  position: absolute;
  width:378px;
  height: 296px;
  z-index:2;
}
.main-product>.main-product__list>.main-product__item>.main-product__info.info_01{
  top:-56px;
  right:0;
}
.main-product>.main-product__list>.main-product__item>.main-product__info.info_02{
  bottom:0;
  left: 0;;
}
.main-product>.main-product__list>.main-product__item>.main-product__info.info_03{
  top:-148px;
  left: 0;
}
.main-product>.main-product__list>.main-product__item>.main-product__info.info_04{
  bottom:0;
  right:0;
}
.main-product>.main-product__list>.main-product__item>.main-product__info>.info_wrap{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  background-color: white;
}
.main-product>.main-product__list>.main-product__item>.main-product__info>.info_wrap>.cat{
  font-weight: 800;
  line-height: 24px;
  color:#23262a;
  margin-top: 56px;
}
.main-product>.main-product__list>.main-product__item>.main-product__info.info_01>.info_wrap>*, .main-product>.main-product__list>.main-product__item>.main-product__info.info_04>.info_wrap>*{
  margin-left: 64px;
}
/* 두번째 메인 상품 리스트 끝 */

/* 메인 컴퍼니 시작 */

.main-compuny{
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  height: 680px;
}
.main-compuny>.main-company__inner{
  position:relative;
  height:100%;
}
.main-compuny>.main-company__inner>.main-company__info{
  position:absolute;
  top:50%;
  left: 0;
  transform: translateY(-50%);
  color:white;
}
.main-compuny>.main-company__inner>.main-company__info>p:first-child{
  font-weight: 700;
  line-height: 24px;
  font-size:16px;
}
.main-compuny>.main-company__inner>.main-company__info>p:nth-child(2){
  margin-top:4px;
  font-size:40px;
  font-weight: 700;
  line-height: 48px;
}
.main-compuny>.main-company__inner>.main-company__info>a{
  display: inline-block;
  width:157px;
  height:48px;
  line-height: 48px;
  font-weight: 700;
  background-color: #383838;
  text-align:center;
}
/* 메인 컴퍼니 시작 끝 */
/* 뉴스시작 */
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main-news {
  padding: 80px 0;
  overflow: hidden;
}
.thumb > img {
  width: 115%;
}
.main-news__inner {
  position: relative;
  margin: 0 auto;
}
.main-news__inner .swiper-button > .swiper-button-prev {
  position: absolute;
  top: 0;
  right: 100px;
  left: auto;
}
.main-news__inner .swiper-button > .swiper-button-next {
  position: absolute;
  top: 0;
  right: 20px;
  left: auto;
}
.main-news__slider {
  position: relative;
}
.main-news__slider > .swiper-pagination.swiper-pagination-progressbar {
  position: absolute;
  width: 100%;
  top: 99%;
  left: 0;
  background-color: #eeeeee;
}

.main-news__slider > .swiper-pagination-progressbar > span {
  background-color: #53565a;
}
.main-news__slider .tit {
  margin-top: 24px;
}
.multi-truncate-2 {
  width: 90%;
  margin-left:auto;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  color: #2f2a29;
  font-size: 2vw;
}
.btn_more{
  width: 70%;
  margin:0 auto;
  display: block;
  text-align: left;
  margin-top: 32px;
  font-size:14px;
  color:#888b8d;
  margin-bottom:20px;
  position:relative;
  transition:.3s;
}
.btn_more:hover{
  color:#2f2a29;
}
.btn_more::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50px;
    width: 0;
    height: 1px;
    background-color: #d0021b;
    transition: 0.3s;
}
.btn_more:hover::after{
  width:32px;
}

/* 뉴스시작끝 */
/* 프로젝트 시작 */

.main-project{
  padding: 0 50px;
}
.main-project>.main-project_inner>.main-project_list{
  margin-top: 32px;
  margin-left: -15px;
  margin-right: -15px;
}
.main-project>.main-project_inner>.main-project_list>li{
  width:calc(100% / 4);
  padding: 0 15px;
  box-sizing: border-box;
  height: 200px;
  margin-bottom: 130px;
}
.main-project>.main-project_inner>.main-project_list>li>a>div{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-project>.main-project_inner>.main-project_list>li>a>span>p{
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  color: #53565a;
  font-weight: 700;
}
.main-project>.main-project_inner>.main-project_list>li>a>span>span{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  font-weight: 700;
  padding-bottom: 30px;
}
/* 프로젝트 끝 */
/* footer */

.footer{
  background-color: #53565a;
}
.footer-top>.footer-top-menu{
  padding-bottom: 250px;
  border-bottom: 1px solid #c9c8c7;
}
.footer-top>.footer-top-menu>li{
width:194px;
font-size: 18px;
padding: 40px 0 20px;
color:white;
position: relative;
}
.footer-top>.footer-top-menu>li>ul{
  position: absolute;
  top:100%;
  left: 0;
}
.footer-top>.footer-top-menu>li>ul>li{
  font-size: 14px;
  color:#c9c8c7;
  line-height: 24px;
}
.footer-top>.footer-top-menu>li>ul>li.md-name{
  font-weight: 900;
  white-space:nowrap;
  line-height: 24px;
}
.footer-top>.footer-top-menu>li:nth-child(3)>ul{
  width:150px;
}
.footer-top>.footer-top-menu>li:nth-child(3)>ul>li{
  display: inline-block;
}
.footer-top>.footer-top-menu>li:nth-child(3)>ul>li>a{
  padding-right:4px;
}
.footer-top>.footer-top-menu>li:nth-child(3)>ul>.md-name{
  display: block;
  line-height: 32px;
}
.footer-bottom{
  padding:32px 0;
  color:#c9c8c7;
}
.footer-bottom>.footer-content>.footer-logo{
  width:200px;
}
.footer-bottom>.footer-content>.footer-logo>img{
  width:125px;
}
.footer-bottom>.footer-text{
  line-height: 24px;
  font-weight: 700;
  font-size: 14px;
}
.footer-bottom>.footer-text>div:last-child{
  margin-top:8px;
  font-size:12px;
  line-height: 16px;
  color:white;
}
/* footer 끝 */