@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "nanumsquare", "Noto Sans KR", sans-serif;
  }
  
  /* 노말라이즈 */
  body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
  }
  
  a {
    color:inherit;
    text-decoration:none;
  }
  
  label[for] {
    cursor:pointer;
    user-select:none;
  }
  
  /* 라이브러리 */
  .block {
    display:block;
  }
  
  .inline-block {
    display:inline-block;
  }
  
  .absolute-left {
    position:absolute;
    left:0;
  }
  
  .absolute-right {
    position:absolute;
    right:0;
  }
  
  .absolute-bottom {
    position:absolute;
    bottom:0;
  }
  
  .absolute-top {
    position:absolute;
    top:0;
  }
  
  .absolute-center {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
  }
  
  .absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
  }
  
  .absolute-middle.absolute-center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
  }
  
  .relative {
    position:relative;
  }
  
  .cell {
    float:left;
    box-sizing:border-box;
  }
  
  .cell-right {
    float:right;
    box-sizing:border-box;
  }
  
  .row::after {
    content:"";
    display:block;
    clear:both;
  }
  
  .clear-both {
    clear:both;
  }
  
  .img-box > img {
    width:100%;
    display:block;
  }
  
  .con {
    margin-left:auto;
    margin-right:auto;
  }
  
  .margin-0-auto {
    margin-left:auto;
    margin-right:auto;
  }
  
  .text-align-center {
    text-align:center;
  }
  
  .text-align-right {
    text-align:right;
  }
  
  .line-height-0 {
    line-height:0;
  }
  
  .line-height-0 > * {
    line-height:normal;
  }
  
  .width-30px {
    width:30px;
  }
  
  .width-35px {
    width:35px;
  }
  
  .width-40px {
    width:35px;
  }
  
  .width-45px {
    width:35px;
  }
  
  .width-50px {
    width:50px;
  }
  
  .width-80px {
    width:80px;
  }
  
  .width-100px {
    width:100px;
  }
  
  .width-100p {
    width:100%;
  }
  
  .width-60p {
    width:60%;
  }
  
  .width-55p {
    width:55%;
  }
  
  .width-50p {
    width:50%;
  }
  
  .width-45p {
    width:45%;
  }
  
  .width-40p {
    width:40%;
  }
  
  .width-30p {
    width:30%;
  }
  
  .width-35p {
    width:35%;
  }
  
  .width-100p-except-30px {
    width:calc(100% - 30px);
  }
  
  .width-100p-except-35px {
    width:calc(100% - 35px);
  }
  
  .width-100p-except-40px {
    width:calc(100% - 40px);
  }
  
  .width-100p-except-50px {
    width:calc(100% - 50px);
  }
  
  .width-100p-except-80px {
    width:calc(100% - 80px);
  }
  
  .width-100p-except-100px {
    width:calc(100% - 100px);
  }
  
  .height-100p {
    height:100%;
  }
  
  .height-50p {
    height:50%;
  }
  
  .border-box {
    box-sizing:border-box;
  }
  
  .font-size-dot-8rem {
    font-size:.8rem;
  }
  
  .table-row {
    display:table;
  }
  
  .table-row.row::after {
    display:inline;
    clear:non;
  }
  
  .table-row > .cell {
    float:none;
    display:table-cell;
  }
  
  .border-red {
    border:10px solid red;
  }
  
  .border-green {
    border:10px solid green;
  }
  
  .border-blue {
    border:10px solid blue;
  }
  
  .border-gold {
    border:10px solid gold;
  }
  
  .border-pink {
    border:10px solid pink;
  }
  
  /* 라이브러리 - flex */
  * > .flex {
    display:flex;
  }
  
  * > .flex-grow-1 {
    flex-grow:1;
  }
  
  * > .flex-jc-c {
    justify-content:center;
  }
  
  * > .flex-jc-s {
    justify-content:flex-start;
  }
  
  * > .flex-jc-e {
    justify-content:flex-end;
  }
  
  * > .flex-jc-sb {
    justify-content:space-between;
  }
  
  * > .flex-ai-c {
    align-items:center;
  }
  
  * > .flex-ai-s {
    align-items:flex-start;
  }
  
  * > .flex-ai-e {
    align-items:flex-end;
  }
  
  * > .flex-as-s {
    align-self:stretch;
  }
  
  * > .flex-as-c {
    align-self:center;
  }
  
  * > .flex-as-s {
    align-self:flex-start;
  }
  
  * > .flex-as-e {
    align-self:flex-end;
  }

  * > .flex-column-nowrap {
    flex-flow:column nowrap;
  }
  
  * > .flex-column-wrap {
    flex-flow:column wrap;
  }
  
  * > .flex-row-wrap {
    flex-flow:row wrap;
  }
  
  .flex-ch-basis-0 > * {
    flex-basis:0;
  }
  
  * > .flex-1-0-0 {
    flex:1 0 0;
  }
  
  /* 커스텀 */
  
  /* 고정형 .con 시작 */
  .con-min-width {
    min-width:1500px;}
  
  .con {
    margin-left:8%;
    margin-right:8%;
  }
  .con-2 {
    margin-left:2.5%;
    margin-right:2.5%;
  }
  .con-3 {
    margin-left:5.5%;
    margin-right:5.5%;
  }
  
  /* 고정형 .con 끝 */
  
  /* 반응형 타입 1 .con 시작 */
  /*
  .con {
    max-width:1370px;
  }
  */
  /* 반응형 타입 1 .con 끝 */
  
  /* 반응형 타입 2(넓을때만 반응형) .con 시작 */
  /*
  .con-min-width {
    min-width:1370px;
  }
  
  .con {
    margin-left:50px;
    margin-right:50px;
  }
  */
  /* 반응형 타입 2(넓을때만 반응형) .con 끝 */
body{
  background-color: #232323;
}
.name{
  font-size: 4rem;
}
/* section-content */
.main-middle{
  position: relative;
}
.main-middle>.main-middle-line{
  position: absolute;
  top:0;
  left: 2.5%;
  width:95%;
  height:100%;
  border-left:1px solid #eaeaea;
  border-right:1px solid #eaeaea;
}
.main-middle>.bn-2{
  padding-top:10%;
  color:white;
}
.main-middle>.bn-2>.bn-2-content{
  padding-left: 2%;
  width:20%;
}
.main-middle>.bn-2>.bn-2-content>.content{
  font-size: 1rem;
  width:90%;
}
.main-middle>.bn-2>.bn-2-content>.sub>div{
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "nanumsquare";
  border-left: 2px solid white;
  margin-top: 5%;
  padding-left: 5%;
}

.main-middle>.bn-2>.bn-2-content>.sub>div>span{
  display: block;
  font-size: .8rem;
}
.main-middle>.bn-3{
  padding-top:10%;
  color:white;
}

.main-middle>.bn-3>.bn-3-content{
  border-top:1px solid #eaeaea;
  border-bottom:1px solid #eaeaea;
}
.main-middle>.bn-3>.bn-3-content>.slider-box {
  margin-top:-50px;
}
.main-middle>.bn-3>.bn-3-content>.slider-box > .swiper-container{
  padding:0 15px;
}
.main-middle>.bn-3>.bn-3-content .swiper-slide{
  margin: 75px 0 25px;
  height: 0%;
  background-color: #232323;
  box-shadow:0 0 11px 11px #1d1d1d9c;
}
.main-middle>.bn-3>.bn-3-content .swiper-slide>a{
  height: 0;
  width:100%;
  display: block;
  padding-bottom: 135%;

  position: relative;
}

.main-middle>.bn-3>.bn-3-content .swiper-slide>a>.slide-top>div:first-child{
  padding:8%;
  font-size: 1.4rem;
  font-family: "nanumsquare";
}

.main-middle>.bn-3>.bn-3-content .swiper-slide>a>.slide-top>div:last-child{
  padding:2.5%;
}

.main-middle>.bn-3>.bn-3-content .swiper-slide>a>.slide-bottom{
  padding:8%;
  position: absolute;
  bottom:0;
  left: 0;
  width:83%;
}

.main-middle>.bn-3>.bn-3-content .swiper-slide>a>.slide-bottom>div:last-child{
  font-size: 2rem;
}

.main-middle>.bn-3>.bn-3-content .swiper-button-prev:after, 
.main-middle>.bn-3>.bn-3-content .swiper-button-next:after{
 color:#eaeaea;
 font-size: 1.5rem;
}
.main-middle>.bn-3>.bn-3-content .swiper-button-prev{
  top:10px;
  left: auto;
  right:60px;
}
.main-middle>.bn-3>.bn-3-content .swiper-button-next{
  top:10px;
  left: auto;
  right:10px;
}
/* .bn-4시작 */
.bn-4{
  color:white;
  padding-bottom: 20%;
}

.bn-4>.bn-4-name{
  padding-top:20%;
  border-bottom: 1px solid #eaeaea;
  padding-left:5.5%;
  display: inline-block;
}
.bn-4>.slide-4-box{
  height: 650px;
}

.bn-4>.slide-4-box>.swiper-container-4{
  overflow: hidden;
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.img-box{
  height: 500px;
}


.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content{
  width:50%;
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content>div:first-child{
  font-size: 7rem;
  -webkit-text-stroke: .5px white;
  color:#eaeaea00;
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content>div:nth-child(2){
  font-size: 1rem;
  color:#d1d1d1;
  
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content>div:last-child{
  border-bottom:1px solid white;
  height: 60px;
  margin-bottom: 40px;
}
.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content>div:last-child>div>div{
  padding-right:80px;
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content>div:last-child>div>div:first-child{
  font-size: 1rem;
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content>div:last-child>div>div:nth-child(2){
  font-size: 2rem;
  padding-bottom: 10px;
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content>div:last-child>div>div:nth-child(2)>span{
  font-size: 1rem;
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content>div:last-child>div>div:last-child{
  color: #d1d1d1;
}