@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "nanumsquare", "Noto Sans KR", sans-serif;
  }
  
  /* 노말라이즈 */
  body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
  }
  
  a {
    color:inherit;
    text-decoration:none;
  }
  
  label[for] {
    cursor:pointer;
    user-select:none;
  }
  
  /* 라이브러리 */
  .block {
    display:block;
  }
  
  .inline-block {
    display:inline-block;
  }
  
  .absolute-left {
    position:absolute;
    left:0;
  }
  
  .absolute-right {
    position:absolute;
    right:0;
  }
  
  .absolute-bottom {
    position:absolute;
    bottom:0;
  }
  
  .absolute-top {
    position:absolute;
    top:0;
  }
  
  .absolute-center {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
  }
  
  .absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
  }
  
  .absolute-middle.absolute-center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
  }
  
  .relative {
    position:relative;
  }
  
  .cell {
    float:left;
    box-sizing:border-box;
  }
  
  .cell-right {
    float:right;
    box-sizing:border-box;
  }
  
  .row::after {
    content:"";
    display:block;
    clear:both;
  }
  
  .clear-both {
    clear:both;
  }
  
  .img-box > img {
    width:100%;
    display:block;
  }
  
  .con {
    margin-left:auto;
    margin-right:auto;
  }
  
  .margin-0-auto {
    margin-left:auto;
    margin-right:auto;
  }
  
  .text-align-center {
    text-align:center;
  }
  
  .text-align-right {
    text-align:right;
  }
  
  .line-height-0 {
    line-height:0;
  }
  
  .line-height-0 > * {
    line-height:normal;
  }
  
  .width-30px {
    width:30px;
  }
  
  .width-35px {
    width:35px;
  }
  
  .width-40px {
    width:35px;
  }
  
  .width-45px {
    width:35px;
  }
  
  .width-50px {
    width:50px;
  }
  
  .width-80px {
    width:80px;
  }
  
  .width-100px {
    width:100px;
  }
  
  .width-100p {
    width:100%;
  }
  
  .width-60p {
    width:60%;
  }
  
  .width-55p {
    width:55%;
  }
  
  .width-50p {
    width:50%;
  }
  
  .width-45p {
    width:45%;
  }
  
  .width-40p {
    width:40%;
  }
  
  .width-30p {
    width:30%;
  }
  
  .width-35p {
    width:35%;
  }
  
  .width-100p-except-30px {
    width:calc(100% - 30px);
  }
  
  .width-100p-except-35px {
    width:calc(100% - 35px);
  }
  
  .width-100p-except-40px {
    width:calc(100% - 40px);
  }
  
  .width-100p-except-50px {
    width:calc(100% - 50px);
  }
  
  .width-100p-except-80px {
    width:calc(100% - 80px);
  }
  
  .width-100p-except-100px {
    width:calc(100% - 100px);
  }
  
  .height-100p {
    height:100%;
  }
  
  .height-50p {
    height:50%;
  }
  
  .border-box {
    box-sizing:border-box;
  }
  
  .font-size-dot-8rem {
    font-size:.8rem;
  }
  
  .table-row {
    display:table;
  }
  
  .table-row.row::after {
    display:inline;
    clear:non;
  }
  
  .table-row > .cell {
    float:none;
    display:table-cell;
  }
  
  .border-red {
    border:10px solid red;
  }
  
  .border-green {
    border:10px solid green;
  }
  
  .border-blue {
    border:10px solid blue;
  }
  
  .border-gold {
    border:10px solid gold;
  }
  
  .border-pink {
    border:10px solid pink;
  }
  
  /* 라이브러리 - flex */
  * > .flex {
    display:flex;
  }
  
  * > .flex-grow-1 {
    flex-grow:1;
  }
  
  * > .flex-jc-c {
    justify-content:center;
  }
  
  * > .flex-jc-s {
    justify-content:flex-start;
  }
  
  * > .flex-jc-e {
    justify-content:flex-end;
  }
  
  * > .flex-jc-sb {
    justify-content:space-between;
  }
  
  * > .flex-jc-sa {
    justify-content:space-around;
  }

  * > .flex-ai-c {
    align-items:center;
  }
  
  * > .flex-ai-s {
    align-items:flex-start;
  }
  
  * > .flex-ai-e {
    align-items:flex-end;
  }
  
  * > .flex-as-s {
    align-self:stretch;
  }
  
  * > .flex-as-c {
    align-self:center;
  }
  
  * > .flex-as-s {
    align-self:flex-start;
  }
  
  * > .flex-as-e {
    align-self:flex-end;
  }

  * > .flex-column-nowrap {
    flex-flow:column nowrap;
  }
  
  * > .flex-column-wrap {
    flex-flow:column wrap;
  }
  
  * > .flex-row-wrap {
    flex-flow:row wrap;
  }
  
  .flex-ch-basis-0 > * {
    flex-basis:0;
  }
  
  * > .flex-1-0-0 {
    flex:1 0 0;
  }
  
  /* 커스텀 */
  
  /* 고정형 .con 시작 */
  .con-min-width {
    min-width:1500px;}
  
  .con {
    margin-left:8%;
    margin-right:8%;
  }
  .con-2 {
    margin-left:2.5%;
    margin-right:2.5%;
  }
  .con-3 {
    margin-left:5.5%;
    margin-right:5.5%;
  }
  
  /* 고정형 .con 끝 */
  
  /* 반응형 타입 1 .con 시작 */
  /*
  .con {
    max-width:1370px;
  }
  */
  /* 반응형 타입 1 .con 끝 */
  
  /* 반응형 타입 2(넓을때만 반응형) .con 시작 */
  /*
  .con-min-width {
    min-width:1370px;
  }
  
  .con {
    margin-left:50px;
    margin-right:50px;
  }
  */
  /* 반응형 타입 2(넓을때만 반응형) .con 끝 */
body{
  background-color: #232323;
}
.name{
  font-size: 4rem;
}
/* top-bar */
#top-bar{
  position: absolute;
  top:0;
  left: 0;
color:white;
z-index: 100;
width:100%;
height: 0;
padding-bottom: 7.5%;
}
@media(max-width:1500px){
  #top-bar{
    height: 110px;
    padding-bottom: 0;
  }
}
#top-bar .logo{
}
#top-bar .menu{
  width:50%;
  height: 0;
  padding-top:8%;
}
#top-bar .menu >li{
  position: relative;
}
#top-bar .menu >li>div{
  position:absolute;
  bottom:80%;
  right:105%;
  border:2px solid red;
  width:6px;
  height: 6px;
  border-radius: 3px; 
  box-shadow: 0 0 3px 2px #fc272718;
  opacity: 0;
  transition: all .3s;
}


#top-bar .menu >li:hover>div{
  opacity: 1;
}
/* main */

.main-bn>.video{
  position: relative;
  overflow: hidden;
  padding-bottom: 51%;
  height: 0;
}


.main-bn .grid-box {
  display: grid;
  position: absolute;
  top:0;
  left: 0;
  grid-template-columns: [first] 2.6% [second] 38% [third] 57% [Fourth] 2.5%;
  grid-template-rows: [one] 15% [tow] 75% [three] 10%;
}
.main-bn .grid-box>div{
  border-right:1px solid white;
  border-bottom:1px solid white;
}

.main-bn .grid-box>div:nth-child(4n){
  border-right:0px solid white;

}
.main-bn .grid-box>div:nth-child(n+9){
  border-bottom:0px solid white;

}
.main-bn .grid-box>div:not(:nth-child(7)){
  background-color:#afafaf80;
}

.main-bn .grid-box>div:nth-child(6){
  color:#eaeaea;
  box-sizing: border-box;
  padding-left: 5%;
  position: relative;
}

.main-bn .grid-box>div:nth-child(6)>.main-text-box{
  position: absolute;
  bottom:0;
  left: 0;
  box-sizing: border-box;
  padding:5%;
}
.main-bn .grid-box>div:nth-child(6)>.main-text-box>div:nth-child(1){
  font-size: 3.5rem;
  line-height: 3.2rem;
  color:white;
}
.main-bn .grid-box>div:nth-child(6)>.main-text-box>div:nth-child(1)>span{
  font-weight: 600;
}

.main-bn .grid-box>div:nth-child(6)>.main-text-box>div:nth-child(2){
  font-size: 1.1rem;
  padding-top:10px;
}
.main-bn .grid-box>div:nth-child(6)>.main-text-box>div:nth-child(3){
  font-size: 0.7rem;
  line-height: 1.2rem;
  padding-top:5px;
}

.main-bn .grid-box>div:nth-child(7)>div{
width:75%;
margin:0 auto;
padding-top:10%;
}

.main-bn .grid-box>div:nth-child(10)>div{
  width:100px;
  padding:2% 3.2%;
}
.main-bn .grid-box>div:nth-child(11)>div{
  width:40px;
  float: right;
  padding:1.5%;
}

.main-bn .video{
  position:relative;
}
.main-bn .video>.grid-box{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}
/* section-content */
.main-middle{
  position: relative;
}
.main-middle>.main-middle-line{
  position: absolute;
  top:0;
  left: 2.5%;
  width:95%;
  height:100%;
  border-left:1px solid #eaeaea;
  border-right:1px solid #eaeaea;
}
.main-middle>.bn-2{
  padding-top:10%;
  color:white;
}
.main-middle>.bn-2>.bn-2-content{
  padding-left: 2%;
  width:20%;
}
.main-middle>.bn-2>.bn-2-content>.content{
  font-size: 0.9rem;
  line-height: 1.5rem;
  width:90%;
}
.main-middle>.bn-2>.bn-2-content>.sub>div{
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "nanumsquare";
  border-left: 2px solid white;
  margin-top: 7.5%;
  padding-left: 5%;
  line-height: 1.6rem;
  font-weight: 500;
}

.main-middle>.bn-2>.bn-2-content>.sub>div>span{
  display: block;
  font-size: .7rem;
  line-height: 1.2rem;
}
.main-middle>.bn-3{
  padding-top:10%;
  color:white;
}

.main-middle>.bn-3>.bn-3-content{
  border-top:1px solid #eaeaea;
  border-bottom:1px solid #eaeaea;
}
.main-middle>.bn-3>.bn-3-content>.slider-box {
  margin-top:-50px;
}
.main-middle>.bn-3>.bn-3-content>.slider-box > .swiper-container{
  padding:0 15px;
}
.main-middle>.bn-3>.bn-3-content .swiper-slide{
  margin: 75px 0 25px;
  height: 0%;
  background-color: #232323;
  box-shadow:0 0 11px 11px #1d1d1d9c;
}
.main-middle>.bn-3>.bn-3-content .swiper-slide>a{
  height: 0;
  width:100%;
  display: block;
  padding-bottom: 135%;

  position: relative;
}

.main-middle>.bn-3>.bn-3-content .swiper-slide>a>.slide-top>div:first-child{
  padding:8%;
  font-size: 1.4rem;
  font-family: "nanumsquare";
}

.main-middle>.bn-3>.bn-3-content .swiper-slide>a>.slide-top>div:last-child{
  padding:2.5%;
}

.main-middle>.bn-3>.bn-3-content .swiper-slide>a>.slide-bottom{
  padding:8%;
  position: absolute;
  bottom:0;
  left: 0;
  width:83%;
}

.main-middle>.bn-3>.bn-3-content .swiper-slide>a>.slide-bottom>div:last-child{
  font-size: 2rem;
}

.main-middle>.bn-3>.bn-3-content .swiper-button-prev:after, 
.main-middle>.bn-3>.bn-3-content .swiper-button-next:after{
 color:#eaeaea;
 font-size: 1.5rem;
}
.main-middle>.bn-3>.bn-3-content .swiper-button-prev{
  top:10px;
  left: auto;
  right:60px;
}
.main-middle>.bn-3>.bn-3-content .swiper-button-next{
  top:10px;
  left: auto;
  right:10px;
}
/* .bn-4시작 */
.bn-4{
  color:white;
}

.bn-4>.bn-4-name{
  padding-top:20%;
  border-bottom: 1px solid #eaeaea;
  padding-left:5.5%;
  display: inline-block;
}
.bn-4>.slide-4-box{
  height: 650px;
  position: relative;
}


.bn-4>.slide-4-box>.swiper-container-4{
  overflow: hidden;
  position: relative;
  margin-top:-1px;
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide{
  margin-top:50px;
}


.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content{
  width:48%;
  margin-bottom: 2%;
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content>div:first-child{
  font-size: 7rem;
  -webkit-text-stroke: .5px white;
  color:#eaeaea00;
  padding-top:3%;
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content>div:nth-child(2){
  font-size: 1rem;
  color:#d1d1d1;
  
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content>div:last-child{
  border-bottom:1px solid white;
  height: 60px;
  margin-bottom: 40px;
}
.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content>div:last-child>div>div{
  padding-right:80px;
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content>div:last-child>div>div:first-child{
  font-size: 1rem;
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content>div:last-child>div>div:nth-child(2){
  font-size: 2rem;
  padding-bottom: 10px;
  white-space: nowrap;
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content>div:last-child>div>div:nth-child(2)>span{
  font-size: 1rem;
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-slide>.camera-content>div:last-child>div>div:last-child{
  color: #d1d1d1;
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: .8;
}

/* bn-4 슬라이드 바 */

.bn-4>.slide-4-box>.swiper-container-4 .swiper-pagination{
  position: absolute;;
  top:0;
  left: auto;
  right:0;
  width:60%;
  height: 1px;
  background-color: white;
}

.bn-4>.slide-4-box>.swiper-container-4 .swiper-pagination>span{
  background-color: #ff2929;
}
/* bn-4 슬라이드 바 끝 */
/* bn-4슬라이드 개수 표시 */
.bn-4>.slide-4-box>.slide-num{
  position: absolute;
  bottom:100%;
  right: 0;
  width:60%;
  padding-bottom: 5px;
  color:#d1d1d1;
  opacity: .8;
}
/* bn-4슬라이드 개수 표시 끝 */
.bn-5{
  margin-top:10%;
  position: relative;
  color:white;
}
.bn-5 > .bn-5-name{
  border-bottom:1px solid #eaeaea;
}
.bn-5 > .bn-5-name>div{
  position: absolute;
  bottom: calc(100% - 2px);
  left: 0;
  padding:0 20px;
  background-color: #232323;
}
.bn-5 .tab{
  border-bottom:1px solid #eaeaea;
  padding-bottom: 2%;
}
.bn-5 .tab-box-1{
  margin-top:3%;
  position: relative;
  overflow: hidden;
}

.bn-5 .tab-box-1::after{
  content:"SCHEDULE";
  position: absolute;
  bottom:0%;
  left: 0;
  letter-spacing:11.3vw;
}

.bn-5 .tab-box-1 > .body > ul > li {
  display:none;
}
.bn-5 .tab-box-1 > .body > ul > li.active {
  display:block;
}
.bn-5 .tab-box-1 > .head {
  width:calc(15% - 30px);
}
.bn-5 .tab-box-1 > .head > ul{
  height: 100%;
}
.bn-5 .tab-box-1 > .head > ul>li{
  border:1px solid #555555;
  background-color: #232323;
  box-shadow:0px 0px 10px 10px #0c0c0c5d;
  height: calc(100% / 3);
  margin-bottom: 30px;
  position: relative;
}
.bn-5 .tab-box-1 > .head > ul>li>a>div{
  margin:0 10%;
  color: #b9b9b9;
}

.bn-5 .tab-box-1 > .head > ul > li.active>a::after {
  content:"";
  display: block;
  position: absolute;
  top:10%;
  right: 10%;
  width:12px;
  height: 12px ;
  border-radius: 50%;
  box-shadow:0px 0px 5px 5px #0c0c0c21;
  background-color: #ff2929;
}
.bn-5 .tab-box-1 > .head > ul>li>a>div:nth-child(1){
  font-size: 1.2rem;
  padding-top:15%;
  padding-bottom: 20%;
}
.bn-5 .tab-box-1 > .head > ul>li>a>div:nth-child(2){
  font-size: 1rem;
  border-bottom: 1px solid #b9b9b9;
  display: inline-block;
}

.bn-5 .tab-box-1 > .head > ul>li>a>div:nth-child(3){
  font-size: 1rem;
}

.bn-5 .tab-box-1 > .body{
  width:85%;
  margin-bottom: 30px;
}
.bn-5 .tab-box-1 > .body>ul>li{
  padding-bottom: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.bn-5 .tab-box-1 > .body>ul>li::after{
  content:"";
  position: absolute;
  display: block;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: #23232388;
}
.bn-5 .tab-box-1 > .body>ul>li>div{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align:center;
  z-index: 2;
}

.bn-5 .tab-box-1 > .body>ul>li>div>div:nth-child(1){
  font-size: 1.3rem;
}
.bn-5 .tab-box-1 > .body>ul>li>div>div:nth-child(2){
  font-size: 2.5rem;
}
.bn-5 .tab-box-1 > .body>ul>li>div>div:nth-child(3){
  font-size: 1rem;
  padding-top:20%;
}

.bn-6{
  color:white;
  padding:4% 0;
}

.bn-6>a{
  background-color: #ff2929;
  display: block;
  height: 300px;
  position: relative;
}

.bn-6>a>div{
  position: absolute;
  background-color: #ff2929;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index: 10;
}

.bn-6>a>div>div:nth-child(1){
  font-size: 1.2rem;
  padding-top:5.5%;
}

.bn-6>a>div>div:nth-child(2){
  font-size: 1.5rem;
  padding-top:2%;
}

/* footer */
.footer {
	width: 100%;
	min-width: 1200px;
	margin: 0 auto;
	background-color: rgb(0,0,0);
}
.footer > * > .inner {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 40px;
	box-sizing: border-box;
}

.footer > * > .inner:after {
	content: '';
	display: block;
	clear: both;
}
.footer .sitemap {
	padding: 34px 0 33px;
	border-bottom: 1px solid rgb(48,48,48);
}
.footer .sitemap .inner > div {
	width: 15.58%;
	float: left;
	margin: 0 0 0 1.67%;
	box-sizing: border-box;
}
.footer .sitemap .inner > div.sns {width: 13.75%;}
.footer .sitemap .inner > div:first-child {margin: 0;}
.footer .sitemap p {
	margin: 27px 0 0;
	font-weight: 400;
	font-size: 14px;
	color: rgb(255,255,255);
}
.footer .sitemap p:first-of-type {margin: 0;}
.footer .sitemap p.cc {margin: 54px 0 0;}
.footer .sitemap ul {margin: 20px 0 0;}
.footer .sitemap ul li a {
	display: inline-block;
	font-weight: 400;
	font-size: 14px;
	color: rgb(255,255,255);
	line-height: 24px;
}
.footer .sitemap .sns ul li {margin: 6px 0 0;}
.footer .sitemap .sns ul li:first-child {margin: 0;}
.footer .sitemap .sns ul li a {
	display: inline-block;
	padding: 0 0 0 27px;
	position: relative;
	top: 0;
	left: 0;
}
.footer .sitemap .sns ul li a:before {
	width: 16px;
	height: 24px;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center center;
}
.footer .sitemap .sns ul li .sns__facebook:before {background-image: url(/pc/resource/images/common/ico_facebook_wt_10x16.png);}
.footer .sitemap .sns ul li .sns__instagram:before {background-image: url(/pc/resource/images/common/ico_instagram_wt_16x16.png);}
.footer .company {padding: 35px 0 42px;}
.footer .company .address {
	float: left;
	font-weight: 400;
	font-size: 12px;
	color: rgb(255,255,255);
	line-height: 22px;
}
.footer .company .address span {color: rgb(85,85,85);}
.footer .company .copyright {
	float: left;
	margin: 10px 0 0 55px;
	font-weight: 400;
	font-size: 12px;
	color: rgb(85,85,85);
}
.footer .company .wesentliche {
	height: 34px;
	float: right;
	margin: 5px 0 0;
	padding: 0 0 0 40px;
	font-weight: 400;
	font-size: 14px;
	color: rgb(255,255,255);
	line-height: 34px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(/pc/resource/images/common/logo_leica_48x48.png);
	background-size: 34px;
}