
/* 탑바 */
.top-bar-box {
  width: 100%;
  position: absolute;
  z-index: 100;
}

.top-bar-box>.top-bar {
  height: 89px;
}

.top-bar-box>.top-bar>.logo {
  color: white;
}
.top-bar-box>.top-bar>.logo>.jeju{
  font-size: 2rem;
  font-weight: 800;
}

.top-bar-box>.top-bar>ul {
  width: 520px;
}

.top-bar-box>.top-bar>ul>li>a {
  padding: 0 0 35px;
  font-size: 14px;
  color: white;
}
/* 메인베너 */
.main-bn {
  position: relative;
}

.main-bn>.main-bn-main-img{
  height: 960px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-bn::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
}

.main-bn>.main-bn-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  text-align: center;
}

.main-bn>.main-bn-content>div:first-child {
  font-size: 26px;
  font-weight: 400;
  white-space: nowrap;
}

.main-bn>.main-bn-content>div:nth-child(2) {
  font-size: 100px;
  white-space: nowrap;
}

.main-bn>.main-bn-content>div:nth-child(2)>span {
  color: #ffcd02;
}

.main-bn>.main-bn-content>.main-bn-bt>div>a {
  display: inline-block;
  width: 218px;
  height: 42px;
  border: 1px solid white;
  font-size: 15px;
  line-height: 42px;
  margin: 70px 5px 10px;
}

.main-bn>.main-bn-content>.main-bn-text {
  white-space: nowrap;
  margin-top: 40px;
  font-size: 17px;
  line-height: 200%;
}

.main-bn>.main-bn-content>.main-bn-text>a:only-of-type {
  display: inline-block;
  margin-top: 30px;
  font-size: 20px;
  text-decoration: underline;
}

.main-bn>.main-bn-content>.go-btm {
  width: 20px;
  height: 36px;
  border-radius: 16px;
  border: 2px solid white;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.main-bn>.main-bn-content>.go-btm::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translatex(-50%);
  width: 2px;
  height: 12px;
  background-color: white;
  border-radius: 1px;
}

.main-bn>.main-bn-content>.go-btm::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translatex(-50%);
  width: 2px;
  height: 8px;
  background-color: white;
  border-radius: 1px;
}

.main-bn>.main-bn-content>.go-btm>.arrow {
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translatex(-50%);
}

.main-bn>.main-bn-content>.go-btm>.arrow::before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transform: rotate(45deg);
}
@media(max-width:950px){
  .top-bar{
    opacity: 0;
    visibility:visible;
  }
  .main-bn>.main-bn-main-img{
    height: 350px;
  }
  .main-bn-text{
    display: none;
  } 
  .go-btm{
    display: none;
  }
  .main-bn>.main-bn-content>div:first-child{
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  
  .main-bn>.main-bn-content>div:nth-child(2){
    font-size: 40px;
  }
  .main-bn>.main-bn-content>.main-bn-bt{
    position: absolute;
    top:120%;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-bn>.main-bn-content>.main-bn-bt>div>a{
    font-size: 12px;
    width:60px;
    border:none;
  }
}
/* 모바일 탑바 */
.mobile-top-bar-box{
  position: fixed;
  width:100%;
  top:0;
  left: 0;
  z-index: 100;
  color:white;
  height: 50px;
}
.mobile-top-bar-box>div:nth-child(2){
  font-size: 1.2rem;
  font-weight:600;
}
.mobile-top-bar-box>div:nth-child(2)>span{
  font-size: .7rem;
}
.mobile-top-bar-box>.mobile-top-bar-menu{
  width:23px;
  height: 23px;
  margin-right:15px;
  position:relative;
  cursor:pointer;
}
.mobile-top-bar-box>.mobile-top-bar-menu>div{
  height: 1px;
  background-color: white;
  position:absolute;
  left: 0;
  top:20%;
  width:100%;
}

.mobile-top-bar-box>.mobile-top-bar-menu>div:nth-child(2){
  top:50%;
}
.mobile-top-bar-box>.mobile-top-bar-menu>div:nth-child(3){
  top:80%;
}

/* 모바일탑바 활성화 */
.mobile-top-bar-box.active{
  background-color: #333437;
}

.mobile-top-bar-box.active>.mobile-top-bar-menu>div:nth-child(1){
  top:50%;
  transform:rotate(45deg);
}
.mobile-top-bar-box.active>.mobile-top-bar-menu>div:nth-child(2){
  display: none;
}
.mobile-top-bar-box.active>.mobile-top-bar-menu>div:nth-child(3){
  top:50%;
  transform:rotate(-45deg);
}
.mobile-top-bar-box>.mobile-top-bar-bg{
  display: none;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg{
  display: block;
  position: absolute;
  background-color: #333437;
  height: 100vh;
  width:100%;
  top:50px;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-menu2{
  width:90%;
  margin-left: auto;
  margin-right:auto;
  margin-top:80px;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-menu2>li>a{
  font-size: 18px;
  height: 40px;
  margin-bottom: 15px;
  display: block;
  width:100%;
  font-size: 600;
  border-bottom:1px solid rgba(255, 255, 255, .1);
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-menu2 ul{
  display: none;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-menu2>li>a{
  position: relative;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-menu2>li>a:not(:only-child)::before{
  content:"";
  position: absolute;
  display: block;
  top:20%;
  right: 20px;
  width:8px;
  height: 8px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transform: rotate(45deg);
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-menu2>li:hover>a:not(:only-child)::before{
  transform: rotate(225deg);
  top:25%;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-menu2>li:hover>ul{
  margin-bottom: 20px;
  display: block;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-menu2 ul>li>a{
  display: block;
  padding:10px;
}

.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-plus{
  text-align: center;
  margin-top:50px;
  padding-left: 36px;
  position: relative;
  width:150px;
  margin-left: auto;
  margin-right: auto;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-plus>div{
  position: absolute;
  top:50%;
  left: 0%;
  transform: translateY(-50%);
  display: inline-block;
  height: 26px;
  width: 26px;
  background:url(//t1.kakaocdn.net/jewika/images/v1/icon_plusfriend.png) no-repeat 0 0;
  background-size: 26px 26px;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>div:last-child{
  text-align: center;
  margin-top:100px;
  font-size:11px; 
}
@media(min-width:954px){
  .mobile-top-bar-box{
    opacity: 0;
    visibility:visible;
  }
}

/* today */
#today{
  margin-top:100px;
}
#today>.today-top{
  margin-bottom:40px;
}
#today>.today-content>.weather>.img-box{
  width:200px;
}

#today>.today-content>.weather>div:nth-child(2){
  font-size: 122px;
  line-height:122px;
  height: 122px;
  margin-right:30px;
}

#today>.today-content>.weather>div:nth-child(2)>span{
  font-size:20px;
  line-height: 70px;
  vertical-align: top;
}

#today>.today-content>.weather>div:last-child>span{
  font-weight: 900;
  color:#34be00;
}
#today>.today-content>.calender{
  width:45%;
  margin-top:50px;
}
#today>.today-content>.calender>div:first-child{
  font-size: 12px;
  color:#333437;
}

#today>.today-content>.calender>div:first-child>span{
font-size:24px;
color:#000;
padding-right:20px;
}
#today>.today-content>.calender .swiper-container{
  margin-top:30px;
}

#today>.today-content>.calender .swiper-container ul{
  margin:0 50px;
  padding:20px 0;
}
#today>.today-content>.calender .swiper-container ul>li.day{
  position:relative;
  color:white;
}

#today>.today-content>.calender .swiper-container ul>li.day::after{
  position: absolute;
  content:'';
  top:50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  background-color: #5c5c5c;
  width:30px;
  height:30px;
  border-radius:40px;
  color:white;
  z-index: -1;
}

#today>.today-content>.calender .swiper-container .swiper-button-next{
  border:1px solid #000;
  width:30px;
  height:30px;
  border-radius:15px;
  top:58%;
  opacity: 1;
  background-color: #efefef;
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-next:after{
  color:#000;
  font-size: 1rem;
}

#today>.today-content>.calender .swiper-container .swiper-button-prev{
  border:1px solid #000;
  width:30px;
  height:30px;
  border-radius:15px;
  top:58%;
  opacity: 1;
  background-color: #efefef;

}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
  color:#000;
  font-size: 1rem;
}


/* live제주 */

#live-jeju{
  margin-top:100px;
}

#live-jeju>.live-jeju-top>.arrow>a>div{
  margin-top:34px;
  position:relative;
  width:35px;
  height: 1px;
  background-color: black;
}

#live-jeju>ul{
  margin-top:40px;
}

#live-jeju>ul>li>.img-box{
  width:392px;
  height: 200px;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
}

#live-jeju>ul>li>.live-jeju-name{
  font-size:24px;
  padding-right:30px;
  padding-top:20px;
  padding-bottom:20px;
  height:60px;
}

#live-jeju>ul>li>.live-jeju-content{
  padding-right:30px;
}



/* in-kakao-space */

#in-kakao-space{
  margin-top:100px;
}
#in-kakao-space>.in-kakao-space-content{
  background-image: url('http://sehee3527.github.io/img1/pf/jeju-with-kakao/다운로드 (3).jpg');
  height:400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:white;
  position:relative;
  margin-top:40px;
}


#in-kakao-space>.in-kakao-space-content::before{
  content:"";
  display: block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #0000006c;
}

#in-kakao-space>.in-kakao-space-content>div>strong{ 
  font-size: 30px;
  padding-right:30px;
  padding-top:20px;
  padding-bottom: 20px;
  height:60px;
  }
  
#in-kakao-space>.in-kakao-space-content>div>p{
  color:white;
}
#in-kakao-space>.in-kakao-space-content> div{
  z-index:2;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 2;
  padding:50px;
  box-sizing:border-box;
}



#in-kakao-space>.in-kakao-space-content>div>.btn{
  display: inline-block;
  margin-top:20px;
  padding:10px 20px;
  border:1px solid #fff;
}


@media(max-width:950px){
  #in-kakao-space>.in-kakao-space-content>div{
    text-align: center;
  }
  #in-kakao-space>.in-kakao-space-content>div>.btn{
    margin:20px auto 0;
  }
}

#notice{
  margin-top:100px;
}

#notice>.notice-content{
  margin-top:40px;
}

#with-jeju{
  margin-top:100px;
}

#with-jeju>ul>li{
  width:604px;
  height:272px;
  margin-top:32px;
  padding:35px 0 0 50px;
  color:#fff;
  box-sizing:border-box;
  position:relative;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}

#with-jeju>ul>li::before{
  content:"";
  display:block;
  background-color: #0000006c;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

#with-jeju>ul>li:nth-child(2n){
  margin-left:32px;
}
#with-jeju>ul>li>.text-box{
  content:"";
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  box-sizing:border-box;
  padding:35px 0 0 50px;
  z-index: 2;
}

#with-jeju>ul>li>.text-box>.name{
  font-size:36px;
  font-weight:400;
}

#with-jeju>ul>li>.text-box>.content{
  margin-top:8px;
  font-size: 14px;
  line-height:150%;
}
#with-jeju>ul>li>.text-box>.btn{
  display: inline-block;
  padding:10px 20px;
  margin-top:30px;
  border:1px solid #fff;
}

#footer{
  height:340px;
  margin-top:300px;
  padding-top:68px;
  color:white;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  font-size:13px;
  box-sizing:border-box;
}
#footer>ul>li:first-child{
  padding-right:50px;
}
#footer>ul>li:first-child>div:last-child{
  border:1px solid #fff;
  margin-top:50px;
  border-radius:30px;
  width:200px;
}

#footer>ul>li:first-child>div:last-child>img{
  padding:10px;
}

#footer>ul>li:nth-child(2)>ul{
  width:120px;
}

#footer>ul>li:nth-child(2)>ul>li:first-child{
  padding-bottom:15px;
  font-weight:900;
}
#footer>ul>li:last-child{
  position:relative;
}
#footer>ul>li:last-child>div{
  padding-right:80px;
}
#footer>ul>li:last-child>button{
  position:relative;
  background-color: transparent;
  border:0px;
  color:white;
  height: 18px;
}

#footer>ul>li:last-child>ul{
  position: absolute;
  top:30px;
  left: 0;
  background-color:#fff;
  padding:10px;
  color:#000;
  width:150px;
  display: none;
}
#footer>ul>li:last-child>ul>li{
  padding:10px 0;
}

#footer>ul>li:last-child>ul.active{
  display:block;
}

@media(max-width:954px){
  .con{
    width:100% !important;
  }
  #today{
    display:none;
  }
  
  #live-jeju{
    width:95% !important;
  }
  #live-jeju>ul{
    display: block;
  }
  #live-jeju>ul>li>.img-box{
    width:100%;
    height:387px;
  }
  #live-jeju>ul>li>.live-jeju-name, .name{
    font-size:18px;
    padding-top:18px;
    padding-bottom:10px;
    height:auto;
    font-weight: 900;
  }
  #live-jeju>ul>li>.live-jeju-content{
    color:#5c5c5c;
    padding-bottom: 30px;
  }
  
  #notice{
    width:95% !important;
  }

  #notice>.notice-content{
    display:block;
  }
  #notice>.notice-content>li{
    padding-bottom:20px;
  }

  #with-jeju>ul>li{
    width:100%;
    position:relative;
    height: 150px;
    margin-bottom:150px;
    color:#000;
  }
  #with-jeju>ul>li:nth-child(2n){
    margin-left:0;
  }
  
  #with-jeju>ul>li>.text-box{
    position: absolute;
  }
  
  #with-jeju>ul>li>.text-box>.name{
    color:white;
    text-align: center;
  }
  
  #with-jeju>ul>li>.text-box>.content{
    padding-top:50px;
    padding-right:50px;
  }
  #with-jeju>ul>li>.text-box>.content>br{
    display: none;
  }
  
  #with-jeju>ul>li>.text-box>.btn{
    border-color:black;
    display: block;
    width:100px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
  }
  #footer>ul>li:first-child{
    text-align: center;
    width:100%;
  }
  #footer>ul>li:first-child>div:last-child{
    display: none;
  }
  #footer>ul>li:not(:first-child){
      display: none;
  }
}