
/* 탑바 */
.top-bar-box {
  width: 100%;
  position: absolute;
  z-index: 100;
}

.top-bar-box>.top-bar {
  height: 89px;
}

.top-bar-box>.top-bar>.logo {
  color: white;
}
.top-bar-box>.top-bar>.logo>.jeju{
  font-size: 2rem;
  font-weight: 800;
}

.top-bar-box>.top-bar>ul {
  width: 520px;
}

.top-bar-box>.top-bar>ul>li>a {
  padding: 0 0 35px;
  font-size: 14px;
  color: white;
}
/* 메인베너 */
.main-bn {
  position: relative;
}

.main-bn>.main-bn-main-img{
  height: 960px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-bn::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
}

.main-bn>.main-bn-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  text-align: center;
}

.main-bn>.main-bn-content>div:first-child {
  font-size: 26px;
  font-weight: 400;
  white-space: nowrap;
}

.main-bn>.main-bn-content>div:nth-child(2) {
  font-size: 100px;
  white-space: nowrap;
}

.main-bn>.main-bn-content>div:nth-child(2)>span {
  color: #ffcd02;
}

.main-bn>.main-bn-content>.main-bn-bt>div>a {
  display: inline-block;
  width: 218px;
  height: 42px;
  border: 1px solid white;
  font-size: 15px;
  line-height: 42px;
  margin: 70px 5px 10px;
}

.main-bn>.main-bn-content>.main-bn-text {
  white-space: nowrap;
  margin-top: 40px;
  font-size: 17px;
  line-height: 200%;
}

.main-bn>.main-bn-content>.main-bn-text>a:only-of-type {
  display: inline-block;
  margin-top: 30px;
  font-size: 20px;
  text-decoration: underline;
}

.main-bn>.main-bn-content>.go-btm {
  width: 20px;
  height: 36px;
  border-radius: 16px;
  border: 2px solid white;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.main-bn>.main-bn-content>.go-btm::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translatex(-50%);
  width: 2px;
  height: 12px;
  background-color: white;
  border-radius: 1px;
}

.main-bn>.main-bn-content>.go-btm::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translatex(-50%);
  width: 2px;
  height: 8px;
  background-color: white;
  border-radius: 1px;
}

.main-bn>.main-bn-content>.go-btm>.arrow {
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translatex(-50%);
}

.main-bn>.main-bn-content>.go-btm>.arrow::before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transform: rotate(45deg);
}
@media(max-width:950px){
  .top-bar{
    display: none;
  }
  .main-bn>.main-bn-main-img{
    height: 350px;
  }
  .main-bn-text{
    display: none;
  } 
  .go-btm{
    display: none;
  }
  .main-bn>.main-bn-content>div:first-child{
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  
  .main-bn>.main-bn-content>div:nth-child(2){
    font-size: 40px;
  }
  .main-bn>.main-bn-content>.main-bn-bt{
    position: absolute;
    top:120%;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-bn>.main-bn-content>.main-bn-bt>div>a{
    font-size: 12px;
    width:60px;
    border:none;
  }
}
/* 모바일 탑바 */
.mobile-top-bar-box{
  position: fixed;
  width:100%;
  top:0;
  left: 0;
  z-index: 100;
  color:white;
  height: 50px;
}
.mobile-top-bar-box>div:nth-child(2){
  font-size: 1.2rem;
  font-weight:600;
}
.mobile-top-bar-box>div:nth-child(2)>span{
  font-size: .7rem;
}
.mobile-top-bar-box>.mobile-top-bar-menu{
  width:23px;
  height: 23px;
  margin-right:15px;
  position:relative;
  cursor:pointer;
}
.mobile-top-bar-box>.mobile-top-bar-menu>div{
  height: 1px;
  background-color: white;
  position:absolute;
  left: 0;
  top:20%;
  width:100%;
}

.mobile-top-bar-box>.mobile-top-bar-menu>div:nth-child(2){
  top:50%;
}
.mobile-top-bar-box>.mobile-top-bar-menu>div:nth-child(3){
  top:80%;
}

/* 모바일탑바 활성화 */
.mobile-top-bar-box.active{
  background-color: #333437;
}

.mobile-top-bar-box.active>.mobile-top-bar-menu>div:nth-child(1){
  top:50%;
  transform:rotate(45deg);
}
.mobile-top-bar-box.active>.mobile-top-bar-menu>div:nth-child(2){
  display: none;
}
.mobile-top-bar-box.active>.mobile-top-bar-menu>div:nth-child(3){
  top:50%;
  transform:rotate(-45deg);
}
.mobile-top-bar-box>.mobile-top-bar-bg{
  display: none;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg{
  display: block;
  position: absolute;
  background-color: #333437;
  height: 100vh;
  width:100%;
  top:50px;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-menu2{
  width:90%;
  margin-left: auto;
  margin-right:auto;
  margin-top:80px;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-menu2>li>a{
  font-size: 18px;
  height: 40px;
  margin-bottom: 15px;
  display: block;
  width:100%;
  font-size: 600;
  border-bottom:1px solid rgba(255, 255, 255, .1);
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-menu2 ul{
  display: none;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-menu2>li>a{
  position: relative;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-menu2>li>a:not(:only-child)::before{
  content:"";
  position: absolute;
  display: block;
  top:20%;
  right: 20px;
  width:8px;
  height: 8px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transform: rotate(45deg);
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-menu2>li:hover>a:not(:only-child)::before{
  transform: rotate(225deg);
  top:25%;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-menu2>li:hover>ul{
  margin-bottom: 20px;
  display: block;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-menu2 ul>li>a{
  display: block;
  padding:10px;
}

.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-plus{
  text-align: center;
  margin-top:50px;
  padding-left: 36px;
  position: relative;
  width:150px;
  margin-left: auto;
  margin-right: auto;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>.mobile-top-bar-plus>div{
  position: absolute;
  top:50%;
  left: 0%;
  transform: translateY(-50%);
  display: inline-block;
  height: 26px;
  width: 26px;
  background:url(//t1.kakaocdn.net/jewika/images/v1/icon_plusfriend.png) no-repeat 0 0;
  background-size: 26px 26px;
}
.mobile-top-bar-box.active>.mobile-top-bar-bg>div:last-child{
  text-align: center;
  margin-top:100px;
  font-size:11px; 
}
@media(min-width:954px){
  .mobile-top-bar-box{
    display: none;
  }
}


/* live제주 */

#live-jeju{
  margin-top:100px;
}

#live-jeju>ul{
  margin-top:40px;
}