@font-face {
    font-family: 'code-light';
    src: url('/resource/font/code/code_light.otf') format('opentype');
}
@font-face {
    font-family: 'code-bold';
    src:url('/resource/font/code/code_bold.otf') format('opentype');
}
.code-light{
    font-family: "code-light";
}
.code-bold{
    font-family: "code-bold";
}
@font-face {
    font-family: 'genrtica';
    src:url('/resource/font/genrtica/generica.otf') format('opentype');
}
@font-face {
    font-family: 'genrtica-bold';
    src:url('/resource/font/genrtica/generica-bold.otf') format('opentype');
}
.genrtica{
    font-family: "genrtica";
}
.genrtica-bold{
    font-family: "genrtica-bold";
}
