html {
  /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
  font-family: 'Playfair Display', "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

label[for] {
  cursor: pointer;
  user-select: none;
}

/* 라이브러리 */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-middle.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.relative {
  position: relative;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.clear-both {
  clear: both;
}

.img-box>img {
  width: 100%;
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.margin-0-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.line-height-0 {
  line-height: 0;
}

.line-height-0>* {
  line-height: normal;
}

.width-30px {
  width: 30px;
}

.width-35px {
  width: 35px;
}

.width-40px {
  width: 35px;
}

.width-45px {
  width: 35px;
}

.width-50px {
  width: 50px;
}

.width-80px {
  width: 80px;
}

.width-100px {
  width: 100px;
}

.width-100p {
  width: 100%;
}

.width-60p {
  width: 60%;
}

.width-55p {
  width: 55%;
}

.width-50p {
  width: 50%;
}

.width-45p {
  width: 45%;
}

.width-40p {
  width: 40%;
}

.width-30p {
  width: 30%;
}

.width-35p {
  width: 35%;
}

.width-100p-except-30px {
  width: calc(100% - 30px);
}

.width-100p-except-35px {
  width: calc(100% - 35px);
}

.width-100p-except-40px {
  width: calc(100% - 40px);
}

.width-100p-except-50px {
  width: calc(100% - 50px);
}

.width-100p-except-80px {
  width: calc(100% - 80px);
}

.width-100p-except-100px {
  width: calc(100% - 100px);
}

.height-100p {
  height: 100%;
}

.height-50p {
  height: 50%;
}

.border-box {
  box-sizing: border-box;
}

.font-size-dot-8rem {
  font-size: .8rem;
}

.table-row {
  display: table;
}

.table-row.row::after {
  display: inline;
  clear: non;
}

.table-row>.cell {
  float: none;
  display: table-cell;
}

.border-red {
  border: 10px solid red;
}

.border-green {
  border: 10px solid green;
}

.border-blue {
  border: 10px solid blue;
}

.border-gold {
  border: 10px solid gold;
}

.border-pink {
  border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
  display: flex;
}

*>.flex-grow-1 {
  flex-grow: 1;
}

*>.flex-jc-c {
  justify-content: center;
}

*>.flex-jc-s {
  justify-content: flex-start;
}

*>.flex-jc-e {
  justify-content: flex-end;
}

*>.flex-jc-sb {
  justify-content: space-between;
}

*>.flex-jc-sa {
  justify-content: space-around;
}

*>.flex-ai-c {
  align-items: center;
}

*>.flex-ai-s {
  align-items: flex-start;
}

*>.flex-ai-e {
  align-items: flex-end;
}

*>.flex-as-s {
  align-self: stretch;
}

*>.flex-as-c {
  align-self: center;
}

*>.flex-as-s {
  align-self: flex-start;
}

*>.flex-as-e {
  align-self: flex-end;
}

*>.flex-column-nowrap {
  flex-flow: column nowrap;
}

*>.flex-column-wrap {
  flex-flow: column wrap;
}

*>.flex-row-wrap {
  flex-flow: row wrap;
}

.flex-ch-basis-0>* {
  flex-basis: 0;
}

*>.flex-1-0-0 {
  flex: 1 0 0;
}

.bd-red {
  border: 2px solid red;
}

.bd-blue {
  border: 2px solid blue;
}

/* 커스텀 */
body{
  min-width: 1000px;
}
.con {
  margin: 0 10%;
}

/* 탑 */
.top {
  background-color: #1e1e1e;
  color: white;
  font-size: 15px;
  height: 30px;
}

.top>div {
  padding:5px 0px 5px 10px;

}

.top>div:nth-child(2) {
  padding-right: 25px;
}

.top>div:last-child {
  padding-right: 50px;
}

/* 탑바 */
.top-bar {
  position: absolute;
  width: 100%;
  color: white;
  z-index: 50;
  top:30px;
  left: 0;
  transition:background-color.3s, color .3s;
}
.top-bar-fly .top-bar{
  position: fixed;
  top:0;
  background-color: rgb(29, 28, 34);
}

.top-bar>.logo {
  margin-left: 5%;
}

.top-bar>.logo>a>img {
  width: auto;
  height: 80px;
}

.top-bar>.menu-bar {
  padding: 0 5%;
}
.top-bar>.menu-bar>li>a{
  transition:color .3s;
}
.top-bar>.menu-bar>li:hover>a{
  color:rgb(231, 61, 67);
}
.top-bar>.right-menu {
  margin-right: 5%;
}

.top-bar>.right-menu>.search {
  width: 50px;
  padding-top: 2px;
}

.top-bar>.right-menu>.side-menu {
  width: 80px;
  height: 100%;
  background-color: #CF1218;
  position: relative;
}

.top-bar>.right-menu>.side-menu>div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 15px;
}

.top-bar>.right-menu>.side-menu>div>div {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 2px;
  background-color: white;
}

.top-bar>.right-menu>.side-menu>div>div:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.top-bar>.right-menu>.side-menu>div>div:last-child {
  top: auto;
  bottom: 0;
}

/* 메인배너 */
.main-bn {
  background-color: black;
  padding-bottom: 42%;
  color: white;
  position: relative;
}

.main-bn>.slider {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 87%;
  height: auto;
}

.main-bn>.slider .slider-item {
  padding-bottom: 7%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.main-bn>.slider .slider-item:nth-child(2):before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .2)
}

.main-bn>.slider .slider-item>.text-box {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
  font-weight: 300;
}

.main-bn>.slider .slider-item>.text-box>div:first-child {
  font-size: 1.5vw;
}

.main-bn>.slider .slider-item>.text-box>div:nth-child(2) {
  font-size: 4.3vw;
  line-height: 3.5vw;
}

.main-bn>.slider .slider-item>.text-box>div:nth-child(3) {
  font-size: 2vw;
}

.main-bn>.slider .slider-item>.text-box>div:nth-child(4) {
  font-size: 0.8vw;
  margin-top: 3%;
}

.main-bn>.slider .slider-item>.text-box>div:last-child {
  display: inline-block;
  padding: 2% 14% 2.2%;
  border: 1px solid white;
  font-size: 1vw;
  margin-top: 5%;
  position: relative;
  transition: color .3s .1s;
}

.main-bn>.slider .slider-item>.text-box>div:last-child:hover {
  color: black;
}

.main-bn>.slider .slider-item>.text-box>div:last-child::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background-color: white;
  transition: width .3s;
  z-index: -1;
}

.main-bn>.slider .slider-item>.text-box>div:last-child:hover::before {
  width: 100%;
}

/* 메인화면 닷 */
.main-bn>.slider>.slick-dots {
  bottom: 40px;
}

.main-bn>.slider>.slick-dots>li {
  width: 13px
}

.main-bn>.slider>.slick-dots>li>button::before {
  content: "";
  background-color: white;

  border-radius: 20px;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: width .3s;
}

.main-bn>.slider.slick-initialized.slick-slider.slick-dotted>.slick-dots>li.slick-active {
  width: 30px;
}

.main-bn>.slider.slick-initialized.slick-slider.slick-dotted>.slick-dots>li.slick-active>button::before {
  width: 30px;
}

/* 메인화면 닷 끝 */
/* 메인화면 끝 */


/* 뮤지컬배너 시작 */
.bn2 {
  margin-top: 7%;
  height: 0;
  padding-bottom: 22%;
  padding-top:2%;
}

.bn2>.musical-name {
  width: 22%;
  box-sizing: border-box;
  padding-left:3%;
}

.bn2>.musical-name>div:first-child {
  font-size: 3vw;
  font-weight: 500;
  margin-top: 10%;
}

.bn2>.musical-name>div:last-child {
  font-size: .8vw;
  font-weight: 500;
  line-height: 1vw;
  color: #7a7a7a
}

/* 뮤지컬배너 슬라이더 시작 */
.bn2>.musical-list {
  width: 78%;
  box-sizing: border-box;
  padding-left:5%;
}

.bn2>.musical-list>.musical-slider .musical-item {
  margin: 0 0.2%;
  box-sizing: border-box;
}

.bn2>.musical-list>.musical-slider .musical-item>div:first-child {
  font-size: 1.2vw;
}

.bn2>.musical-list>.musical-slider .musical-item>div:nth-child(3) {
  font-size: 1.2vw;
}

.bn2>.musical-list>.musical-slider .musical-item>div:last-child {
  font-size: .8vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.bn2>.musical-list>.musical-slider .musical-item>div>img {
  width: 100%;
  display: block;
}

/* 뮤지컬배너 슬라이더 끝 */
/* 뮤지컬배너 슬라이더 닷 시작 */
.bn2>.musical-list>.musical-slider.slick-initialized.slick-slider>.slick-next.slick-arrow {
  margin-top: -3%;
  margin-right: -2%;
  width:4%;
  height: 13%;
}

.bn2>.musical-list>.musical-slider.slick-initialized.slick-slider>.slick-next.slick-arrow::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  width: 60%;
  height: 60%;
  border-top: 2px solid #7a7a7a;
  border-right: 2px solid #7a7a7a;
  transform: rotate(45deg);
}

.bn2>.musical-list>.musical-slider.slick-initialized.slick-slider>.slick-prev.slick-arrow {
  margin-top: -3%;
  margin-left: -2%;
  width:4%;
  height: 13%;
}

.bn2>.musical-list>.musical-slider.slick-initialized.slick-slider>.slick-prev.slick-arrow::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  border-top: 2px solid #7a7a7a;
  border-left: 2px solid #7a7a7a;
  transform: rotate(-45deg);
}

/* 뮤지컬배너 슬라이더 닷 끝 */
/* 뮤지컬배너 끝 */
/* 3번째 배너 시작 */
.bn-3{
  background-color: black;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  overflow: hidden;
}
.bn-3>.bn-3-content>.img{
  width:50%;
  padding-top:10%;
  
}
.bn-3>.bn-3-content>.img>div:first-child{
  width:100%;
  padding-bottom: 70%;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
}
.bn-3>.bn-3-content>.img>div:last-child{
  width:40%;
padding-bottom: 45%;
margin-top:-28%;
margin-left: 80%;
background-position: 60% 20%;
background-repeat:no-repeat;
background-size: 180%;
box-shadow: 30px 30px 30px 30px black;
}
.bn-3>.bn-3-content>.bn-3-text-box{
  color:white;
  width:40%;
  padding-top:21%;
}
.bn-3>.bn-3-content>.bn-3-text-box>div:first-child{
  width: 150%;
  border-top:1px solid white;
  margin-left: 18%;
  opacity: .9;
}
.bn-3>.bn-3-content>.bn-3-text-box>div:nth-child(2){
  font-size: 3vw;
  padding-left: 18%;
  transform: translateY(50%);
  opacity: 0;
  transition:transform .8s .2s, opacity .8s .2s;
}
.bn-3>.bn-3-content>.bn-3-text-box>div:nth-child(2).active{
  transform: translateY(0%);
  opacity: 1;
}
.bn-3>.bn-3-content>.bn-3-text-box>div:nth-child(2)>span{
  font-size: 1vw;
  padding-left: 2%;
}
.bn-3>.bn-3-content>.bn-3-text-box>div:nth-child(3){
  font-size: 1.4vw;
  line-height: 1.7vw;
  padding-left: 18%;
  transform: translateY(70%);
  opacity: 0;
  transition:transform .6s .4s, opacity .6s .4s;
}

.bn-3>.bn-3-content>.bn-3-text-box>div:nth-child(3).active{
  transform: translateY(0%);
  opacity: 1;
}
.bn-3>.bn-3-content>.bn-3-text-box>div:nth-child(4){
  font-size: .8vw;
  line-height: 1.2vw;
  padding-top:2.5%;
  padding-left: 37%;
  width:73%;
  transform: translateY(70%);
  opacity: 0;
  transition:transform .5s .6s, opacity .5s .6s;
}
.bn-3>.bn-3-content>.bn-3-text-box>div:nth-child(4).active{
  transform: translateY(0%);
  opacity: 1;
}
.bn-3>.bn-3-content>.bn-3-text-box>div:last-child{
  font-size: 1vw;
  margin-left: 37%;
  margin-top:5%;
  text-align: center;
  padding: 2% 0%;
  width:40%;
  border:1px solid white;
  transform: translateY(70%);
  opacity: 0;
  transition:transform .5s .8s, opacity .5s .8s, background-color .3s, color .3s;
}

.bn-3>.bn-3-content>.bn-3-text-box>div:last-child.active{
  transform: translateY(0%);
  opacity: 1;
}
.bn-3>.bn-3-content>.bn-3-text-box>div:last-child:hover{
  background-color: white;
  color:black;
}
/* 3번째 배너 끝 */


/* 배너4 시작 */

.bn-4{
  height: 0;
  padding-bottom: 48%;
  position: relative;
  overflow: hidden;
}
.bn-4>.bn-4-bg{
  position: absolute;
  top:0;
  left: 0;
  width:60%;
  padding-bottom: 47%;
  background-position: left center;
  background-size:cover;
  background-repeat:no-repeat;
  opacity: 15%;
  margin-top:-5%;
  z-index: -1;
}
.bn-4>.bn-4-content{
  height: 0;
  padding-bottom: 48%;
}
.bn-4>.bn-4-content>.bn-4-left{
  padding-top:23%;
  padding-left: 5%;
}
.bn-4>.bn-4-content>.bn-4-left>div:first-child{
  font-size:3vw;
  font-weight: 500;
  transform: translateY(50%);
  opacity: 0;
  transition:transform .8s, opacity .8s;
}
.bn-4>.bn-4-content>.bn-4-left>div:first-child.active{
  transform: translateY(0);
  opacity: 1;
}
.bn-4>.bn-4-content>.bn-4-left>div:nth-child(2){
  font-size:.9vw;
  transform: translateY(50%);
  opacity: 0;
  transition:transform .7s .3s, opacity .7s .3s;
}
.bn-4>.bn-4-content>.bn-4-left>div:nth-child(2).active{
  transform: translateY(0);
  opacity: 1;
}
.bn-4>.bn-4-content>.bn-4-left>div:last-child{
  width:175%;
  background-color: #CF1218;
  height: 0;
  padding-bottom: 35%;
  margin-left: -70%;
  margin-top:5%;
}
.bn-4>.bn-4-content>.bn-4-left>div:last-child>div{
  padding:2%;
  width:8%;
  cursor: pointer;
  transform: translateY(50%);
  opacity: 0;
  position: relative;
}
.bn-4>.bn-4-content>.bn-4-left>div:last-child>div:first-child::after{
  content:"";
  display: block;
  position: absolute;
  top:0;
  left: -40%;
  padding-bottom: 160%;
  border-left:2px dashed white;
  opacity: 0;
  transition:opacity .3s 1s;
}
.bn-4>.bn-4-content>.bn-4-left>div:last-child>div:first-child.active::after{
  opacity: 1;
}
.bn-4>.bn-4-content>.bn-4-left>div:last-child>div:first-child{
  transition:transform .7s .5s, opacity .7s .5s;
}
.bn-4>.bn-4-content>.bn-4-left>div:last-child>div:nth-child(2){
  transition:transform .7s .7s, opacity .7s .7s;
}
.bn-4>.bn-4-content>.bn-4-left>div:last-child>div:nth-child(3){
  transition:transform .7s .9s, opacity .7s .9s;
}
.bn-4>.bn-4-content>.bn-4-left>div:last-child>div:nth-child(4){
  transition:transform .7s 1.1s, opacity .7s 1.1s;
}
.bn-4>.bn-4-content>.bn-4-left>div:last-child>div:last-child{
  transition:transform .7s 1.3s, opacity .7s 1.3s;
}
.bn-4>.bn-4-content>.bn-4-left>div:last-child>div.active{
  transform: translateY(0);
  opacity: 1;
}
.bn-4>.bn-4-content>.bn-4-left>div:last-child>div:first-child{
margin-left: 37%;
}
.bn-4>.bn-4-content>.bn-4-left>div:last-child>div>img{
  display: block;
  width:100%;
  margin:0 auto;
}
.bn-4>.bn-4-content>.bn-4-left>div:last-child>div>div{
  font-size: .8vw;
  color: white;
  text-align: center;
  white-space: nowrap;
}
.bn-4>.bn-4-content>.bn-4-right{
  width:55%;
  padding-bottom: 100%;
}
.bn-4>.bn-4-content>.bn-4-right>div{
  border-left: 1px solid #afafaf;
  padding-bottom: 130%;
}
.bn-4>.bn-4-content>.bn-4-right>div:last-child{
  border-right: 1px solid #afafaf;
}
.bn-4>.bn-4-content>.bn-4-right>div>div{
  padding-bottom: 210%;
  margin-top:80%;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
  transform: translateY(40%);
  opacity: 0;
}
.bn-4>.bn-4-content>.bn-4-right>div:first-child>div{
  transition:transform .9s .5s, opacity.9s .5s;
}
.bn-4>.bn-4-content>.bn-4-right>div:nth-child(2)>div{
  margin-top:40%;
  transform: translateY(-40%);
  transition:transform 1s .3s, opacity 1s .3s;
}
.bn-4>.bn-4-content>.bn-4-right>div:last-child>div{
  margin-top:60%;
  transition:transform .9s .8s, opacity .9s .8s;
}
.bn-4>.bn-4-content>.bn-4-right>div>div.active{
  transform: translateY(0);
  opacity: 1;
}
/* 배너4 끝 */


/* 배너5 시작 */

.bn-5{
  padding-bottom: 20%;
  height: 0;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
  text-align: center;
  color:white;
}
.bn-5>div:first-child{
  padding-top:6.5%;
  font-size: 3vw;
  font-weight:500;
  transform: translateY(30%);
  opacity: 0;
  transition:transform .8s, opacity .8s;
}
.bn-5>div:first-child.active{
  transform: translateY(0);
  opacity: 1;
}
.bn-5>div:last-child{
  font-size: .9vw;
  width:50%;
  margin: 0 auto;
  opacity: .7;
  line-height: 1.4vw;
  transform: translateY(80%);
  opacity: 0;
  transition:transform .8s .3s, opacity .8s .3s;
}

.bn-5>div:last-child.active{
  transform: translateY(0);
  opacity: 1;
}
/* 배너5 끝 */


/* 배너6 시작 */
.bn-6{
  padding-bottom:5%;
  margin-top: 7%;
}
.bn-6>.bn-6-notice{
  width:68%;
  padding-right:5%;
}
.bn-6>.bn-6-notice>.notice-name{
  font-size: 3vw;
  font-weight: 500;
  padding-left: 2%;
}
.bn-6>.bn-6-notice>.notice{
  height: 80%;
  border-top: 2px solid #CF1218;
  position: relative;
}
.bn-6>.bn-6-notice>.notice .item>.item-content{
border-bottom: 1px solid #dfdfdf;
}
.bn-6>.bn-6-notice>.notice .item>.item-content>.notice-date{
  font-size: 2.5vw;
  font-weight: 500;
  text-align: center;
  width:20%;
}
.bn-6>.bn-6-notice>.notice .item>.item-content>.notice-date>div{
  font-size: 2vw;
  color:#7a7a7a;
  
  line-height: 1.8vw;
}
.bn-6>.bn-6-notice>.notice .item>.item-content>.notice-content{
  font-size: 1.2vw;
  padding:2% 5%;
  flex-grow: 1;
}
.bn-6>.bn-6-notice>.notice .item>.item-content>.notice-content>div:last-child{
  font-size: .8vw;
  color:#7a7a7a;
}
.bn-6>.bn-6-notice>.notice .item>.item-content>.notice-plus{
  width:10%;
  padding-bottom: 1%;
}
.bn-6>.bn-6-notice>.notice .item>.item-content>.notice-plus>div{
  width:80%;
  padding-bottom:30%;
  background-color: #dfdfdf;
  text-align: center;
  color:white;
  cursor: pointer;
  transition:background-color .3s;
}
.bn-6>.bn-6-notice>.notice .item>.item-content>.notice-plus>div:hover{
  background-color: #525252;
}
.bn-6>.bn-6-notice>.notice .item>.item-content>.notice-plus>div>i{
  margin-top:50%;
  font-size: 1.5vw;
  transition:transform .3s;
}
.bn-6>.bn-6-notice>.notice .item>.item-content>.notice-plus>div:hover>i{
  transform: rotate(315deg);
}
/* notice닷 시작 */
.bn-6>.bn-6-notice>.notice>.slick-prev.slick-arrow{
  position: absolute;
  top:-15%;
  left: 90%;
}
.bn-6>.bn-6-notice>.notice>.slick-next.slick-arrow{
  position: absolute;
  top:-15%;
  left: 94%;
}
.bn-6>.bn-6-notice>.notice>.slick-prev.slick-arrow::before{
  content:"";
  position: absolute;
  width:80%;
  height: 80%;
  transform: rotate(-45deg);
  border-top:2px solid #1e1e1e;
  border-left:2px solid #1e1e1e;
}
.bn-6>.bn-6-notice>.notice>.slick-next.slick-arrow::before{
  content:"";
  position: absolute;
  width:80%;
  height:80%;
  transform: rotate(45deg);
  border-top:2px solid #1e1e1e;
  border-right:2px solid #1e1e1e;
}
/* notice닷 끝 */
.bn-6>.bn-6-service{
  font-size: 0.8vw;
}
.bn-6>.bn-6-service>div{
  border-top:1px solid #dfdfdf;
  padding:2% 1%;

}
.bn-6>.bn-6-service>.service-name{
  font-size: 3vw;
  font-weight: 500;
  padding: 0px;
  padding-left: 2%;
  border-top:0px;
}
.bn-6>.bn-6-service>div:nth-child(2){
  padding:2% 2%;
  font-size: 1vw;
  border-top: 2px solid #CF1218;
  cursor: pointer;
}
.bn-6>.bn-6-service>div:last-child{
  text-align: center;
}
.bn-6>.bn-6-service>div:last-child>div{
  padding:2%;
  font-size: 1.3vw;
}
.bn-6>.bn-6-service>div:not(:first-child){
  cursor:pointer;
}
.bn-6>.bn-6-service>div:last-child>div>div{
  font-size: 1vw;
}
/* 배너6 끝 */


/* 푸터시작 */
.footer{
background-color: black;
}
.footer>div>div:first-child{
  
  width:20%;
}
.footer>div>div:first-child>img{
  display: block;
  width:100%;
}
.footer>div>div:last-child{
  color:white;
  font-size: .5vw;
  padding-top:3.5%;
  opacity: .8;
}
.footer>div>div:last-child>div:nth-child(2){
  width:100%;
  height: 1px;
  background-color: white;
}
.footer>div>div:last-child>div:last-child{
  padding-bottom: 3%;
}
/* 푸터끝 */