html {
  font-family: 'Noto Sans KR', sans-serif, Nanum Gothic, "나눔 고딕", AppleGothic, Dotum, 'Apple SD Gothic Neo', "돋움", sans-serif;
  }
  
  /* 노말라이즈 */
  body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
  }
  
  a {
    color:inherit;
    text-decoration:none;
  }
  
  label[for] {
    cursor:pointer;
    user-select:none;
  }
  
  /* 라이브러리 */
  .block {
    display:block;
  }
  
  .inline-block {
    display:inline-block;
  }
  
  .absolute-left {
    position:absolute;
    left:0;
  }
  
  .absolute-right {
    position:absolute;
    right:0;
  }
  
  .absolute-bottom {
    position:absolute;
    bottom:0;
  }
  
  .absolute-top {
    position:absolute;
    top:0;
  }
  
  .absolute-center {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
  }
  
  .absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
  }
  
  .absolute-middle.absolute-center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
  }
  
  .relative {
    position:relative;
  }
  
  .cell {
    float:left;
    box-sizing:border-box;
  }
  
  .cell-right {
    float:right;
    box-sizing:border-box;
  }
  
  .row::after {
    content:"";
    display:block;
    clear:both;
  }
  
  .clear-both {
    clear:both;
  }
  
  .img-box > img {
    width:100%;
    display:block;
  }
  
  .con {
    margin-left:auto;
    margin-right:auto;
  }
  
  .margin-0-auto {
    margin-left:auto;
    margin-right:auto;
  }
  
  .text-align-center {
    text-align:center;
  }
  
  .text-align-right {
    text-align:right;
  }
  
  .line-height-0 {
    line-height:0;
  }
  
  .line-height-0 > * {
    line-height:normal;
  }
  
  .width-30px {
    width:30px;
  }
  
  .width-35px {
    width:35px;
  }
  
  .width-40px {
    width:35px;
  }
  
  .width-45px {
    width:35px;
  }
  
  .width-50px {
    width:50px;
  }
  
  .width-80px {
    width:80px;
  }
  
  .width-100px {
    width:100px;
  }
  
  .width-100p {
    width:100%;
  }
  
  .width-60p {
    width:60%;
  }
  
  .width-55p {
    width:55%;
  }
  
  .width-50p {
    width:50%;
  }
  
  .width-45p {
    width:45%;
  }
  
  .width-40p {
    width:40%;
  }
  
  .width-30p {
    width:30%;
  }
  
  .width-35p {
    width:35%;
  }
  
  .width-100p-except-30px {
    width:calc(100% - 30px);
  }
  
  .width-100p-except-35px {
    width:calc(100% - 35px);
  }
  
  .width-100p-except-40px {
    width:calc(100% - 40px);
  }
  
  .width-100p-except-50px {
    width:calc(100% - 50px);
  }
  
  .width-100p-except-80px {
    width:calc(100% - 80px);
  }
  
  .width-100p-except-100px {
    width:calc(100% - 100px);
  }
  
  .height-100p {
    height:100%;
  }
  
  .height-50p {
    height:50%;
  }
  
  .border-box {
    box-sizing:border-box;
  }
  
  .font-size-dot-8rem {
    font-size:.8rem;
  }
  
  .table-row {
    display:table;
  }
  
  .table-row.row::after {
    display:inline;
    clear:non;
  }
  
  .table-row > .cell {
    float:none;
    display:table-cell;
  }
  
  .border-red {
    border:10px solid red;
  }
  
  .border-green {
    border:10px solid green;
  }
  
  .border-blue {
    border:10px solid blue;
  }
  
  .border-gold {
    border:10px solid gold;
  }
  
  .border-pink {
    border:10px solid pink;
  }
  
  /* 라이브러리 - flex */
  * > .flex {
    display:flex;
  }
  
  * > .flex-grow-1 {
    flex-grow:1;
  }
  
  * > .flex-jc-c {
    justify-content:center;
  }
  
  * > .flex-jc-s {
    justify-content:flex-start;
  }
  
  * > .flex-jc-e {
    justify-content:flex-end;
  }
  
  * > .flex-jc-sb {
    justify-content:space-between;
  }
  
  * > .flex-jc-sa {
    justify-content: space-around;
  }



  * > .flex-ai-c {
    align-items:center;
  }
  
  * > .flex-ai-s {
    align-items:flex-start;
  }
  
  * > .flex-ai-e {
    align-items:flex-end;
  }
  
  * > .flex-as-s {
    align-self:stretch;
  }
  
  * > .flex-as-c {
    align-self:center;
  }
  
  * > .flex-as-s {
    align-self:flex-start;
  }
  
  * > .flex-as-e {
    align-self:flex-end;
  }
  
  * > .flex-column-nowrap {
    flex-flow:column nowrap;
  }
  
  * > .flex-column-wrap {
    flex-flow:column wrap;
  }
  
  * > .flex-row-wrap {
    flex-flow:row wrap;
  }
  
  .flex-ch-basis-0 > * {
    flex-basis:0;
  }
  
  * > .flex-1-0-0 {
    flex:1 0 0;
  }
  
  /* 커스텀 */
  
  /* 고정형 .con 시작 */
  .con-min-width {
    min-width:1370px;
  }
  
  .con {
    width:1370px;
  }

  /* 탑바 시작 */

.top-bar{
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  z-index: 50;
}
.top-bar>.logo>a{
  display: block;
  width:190px;
  height: 26px;
  padding-top:52px;
  margin-left:42px;
}
.top-bar>.top-bar-right{
  margin-right:42px;
}
.top-bar>.top-bar-right>.top-bar-right1>div{
  height: 35px;
  width:35px;
  padding-top:50px;
  padding-right: 10px;
}
.top-bar>.top-bar-right>.top-bar-right1>div>a>svg{
  fill:white;
}
.top-bar>.top-bar-right>.menu{
  width:32px;
  height: 26px;
  margin-top:50px;
  margin-left: 10px;
  position: relative;
}
.top-bar>.top-bar-right>.menu>div{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 2px;
  background-color: white;
}
.top-bar>.top-bar-right>.menu>div:nth-child(2){
  top:calc(50% - 1px);
  width:70%;
}
.top-bar>.top-bar-right>.menu>div:last-child{
  top:calc(100% - 2px);
}
  /* 탑바 끝 */
  .section{
    position: relative;
  }
  .section>.fp-tableCell>.bn-bg>.text-box{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color:white;
    white-space:nowrap;
  }
  .section>.fp-tableCell>.bn-bg>video{
    display: block;
  }
  /* 첫번째 배너 */
  .section.bn1>.fp-tableCell>.bn-bg>.text-box>div:first-child{
    font-size: 38px;
    line-height: 38px;
    letter-spacing: -1px;
    margin: 0;
    font-weight: 200;
    opacity: 0;
    transform: translateY(40px);
    transition:opacity 1.5s, transform 1.5s;
    }
    .section.bn1.active>.fp-tableCell>.bn-bg>.text-box>div:first-child{
      opacity: 1;
      transform: translateY(0px);
    }
    .section.bn1>.fp-tableCell>.bn-bg>.text-box>div:nth-child(2){
      font-size:70px;
      line-height: 70px;
      margin:25px 0 0 0;
      font-weight: 200;
      opacity: 0;
      transform: translateY(60px);
      transition:opacity 1.5s, transform 1.5ss;
    }
    .section.bn1.active>.fp-tableCell>.bn-bg>.text-box>div:nth-child(2){
      opacity: 1;
      transform: translateY(0px);
    }
    .section.bn1>.fp-tableCell>.bn-bg>.text-box>div:last-child{
      font-family: 'motserrat';
      font-size: 50px;
      line-height: 50px;
      margin:30px 0 0 0;
      font-weight: bold;
      opacity: 0;
      transform: translateY(80px);
      transition:opacity 1.5s, transform 1.5s;
    }
    .section.bn1.active>.fp-tableCell>.bn-bg>.text-box>div:last-child{
      opacity: 1;
      transform: translateY(0px);
    }
    /* 스크롤 다운 버튼 */
    .section>.fp-tableCell>.bn-bg>.scroll-down{
      position: absolute;
      bottom:100px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition:opacity 1.5s 1s;
    }
    .section.active>.fp-tableCell>.bn-bg>.scroll-down{
      opacity: 1;
    }
    .section>.fp-tableCell>.bn-bg>.scroll-down>.line{
      width:1px;
      height: 90px;
      margin: 0 auto 18px;
      background-color: white;
    }
    .section>.fp-tableCell>.bn-bg>.scroll-down>.scroll-bt{
      line-height: 1.2rem;
      color:white;
      font-family: 'Montserrat';
      font-weight: 500;
      
    }

/* 2~5배너 */
.section>.fp-tableCell>.bn-bg{
  position: absolute;
  top:0;
  left: 0;
}

@media(max-width:1450px){
  .section>.fp-tableCell>.bn-bg{
    width:1450px;
  }
}
.section>.fp-tableCell>.bn-bg>.text-box>div:first-child{
  font-size: 46px;
  letter-spacing: -1.5px;
  opacity: 0;
  transform: translateY(60px);
  transition:opacity 1.5s, transform 1.5s;
}
.section.active>.fp-tableCell>.bn-bg>.text-box>div:first-child{
  opacity: 1;
  transform: translateY(0px);
}
.section>.fp-tableCell>.bn-bg>.text-box>div:last-child{
  margin-top: 28px;
  font-size:17px;
  opacity: 0;
  transform: translateY(80px);
  transition:opacity 1.5s, transform 1.5s;
}
.section.active>.fp-tableCell>.bn-bg>.text-box>div:last-child{
  opacity: 1;
  transform: translateY(0px);
}
/* 배너6 */
.section.bn6>.fp-tableCell>.bn-bg>.text-box{
  color:black;
}
.section.bn6>.fp-tableCell>.bn-bg>.scroll-down>.scroll-bt{
  color:black;
}
.section.bn6>.fp-tableCell>.bn-bg>.scroll-down>.line{
  background-color: black;
}
/* 배너7,8 */
.bn7>.fp-tableCell, .bn8>.fp-tableCel{
  position: relative;
}
.bn7>.fp-tableCell>.bn-bg , .bn8>.fp-tableCell>.bn-bg{
  position: absolute;
  top:50%;
  left: 0;
  transform: translatey(-50%);
  width:100%;
  text-align:center;
}
@media(max-width:1450px){
  .bn7>.fp-tableCell>.bn-bg, .bn8>.fp-tableCell>.bn-bg{
    width:1450px;
  }
}
.bn7>.fp-tableCell>.bn-bg>.bn7-content>.bn7-name, .bn8>.fp-tableCell>.bn-bg>.bn8-content>.bn8-name{
  font-size:24px;
  padding: 18px 0 ;
  position: relative;
  display: inline-block;
}
.bn7>.fp-tableCell>.bn-bg>.bn7-content>.bn7-name::before, .bn8>.fp-tableCell>.bn-bg>.bn8-content>.bn8-name::before{
  content:"";
  position: absolute;
  display: block;
  background-color: black;
  top:0;
  left: 0;
  width:30px;
  height: 1px;
}

.bn7>.fp-tableCell>.bn-bg>.bn7-content>.bn7-name::after, .bn8>.fp-tableCell>.bn-bg>.bn8-content>.bn8-name::after{
  content:"";
  position: absolute;
  display: block;
  background-color: black;
  bottom:0;
  right: 0;
  width:30px;
  height: 1px;
}

.bn7>.fp-tableCell>.bn-bg>.bn7-content>ul, .bn8>.fp-tableCell>.bn-bg>.bn8-content>ul{
  margin-top:80px;
}

.bn7>.fp-tableCell>.bn-bg>.bn7-content>ul>li{
  width:400px;
  height: 400px;
  position: relative;
}
.bn7>.fp-tableCell>.bn-bg>.bn7-content>ul>li>a{
  display: block;
  width:100%;
  height: 100%;
}
.bn7>.fp-tableCell>.bn-bg>.bn7-content>ul>li>a>.item-img{
  height: 100%;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition:opacity .3s;
}

.bn7>.fp-tableCell>.bn-bg>.bn7-content>ul>li>a:hover>.item-img{
  opacity: 1;
}


.bn7>.fp-tableCell>.bn-bg>.bn7-content>ul>li>a>.shapes{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.bn7>.fp-tableCell>.bn-bg>.bn7-content>ul>li>a>.shapes>svg{
  width:252px;
}

.bn7>.fp-tableCell>.bn-bg>.bn7-content>ul>li>a>.shapes>svg>circle{
  fill:none;
  stroke: #000;
  stroke-miterlimit: 10;
  opacity: .25;
  transition:stroke .3s;
}
.bn7>.fp-tableCell>.bn-bg>.bn7-content>ul>li>a:hover>.shapes>svg>circle{
  stroke: white;
}
.bn7>.fp-tableCell>.bn-bg>.bn7-content>ul>li>a>.shapes>svg>polygon{
  fill:none;
  stroke: #000;
  stroke-miterlimit: 10;
  opacity: .25;
  transition:stroke .3s;
}
.bn7>.fp-tableCell>.bn-bg>.bn7-content>ul>li>a:hover>.shapes>svg>polygon{
  stroke: white;
}
.bn7>.fp-tableCell>.bn-bg>.bn7-content>ul>li>a>.shapes>svg>g{
  fill:none;
  stroke: #000;
  stroke-miterlimit: 10;
  opacity: .25;
  transition:stroke .3s;
}

.bn7>.fp-tableCell>.bn-bg>.bn7-content>ul>li>a:hover>.shapes>svg>g{
  stroke: white;
}
.bn7>.fp-tableCell>.bn-bg>.bn7-content>ul>li>a>.item-text{
  position: absolute;
  top:50%;
  left: 0%;
  padding:0 20px;
  transform: translateY(-50%) ;
  font-size: 38px;
  text-align: left;
  line-height: 1.15;
  letter-spacing: -.2px;
  padding-left: 50px;
}
.bn7>.fp-tableCell>.bn-bg>.bn7-content>ul>li>a>.item-text>div{
  font-weight: 700;

}
.bn8>.fp-tableCell>.bn-bg>.bn8-content>.bn7-content-item>li{
  height: 300px;
  width:33.33%;
  border-left: 1px solid #cdcdcd;
  box-sizing: border-box;
  padding-top:70px;
}
.bn8>.fp-tableCell>.bn-bg>.bn8-content>.bn7-content-item>li>div{
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -.5px;
  margin-top: 28px;
  font-weight: 500;
}
/* 배너9 시작 */
.bn9>.fp-tableCell>.bn-bg{
  width:100%;
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-top{
  margin: 0 auto;
  width:1400px;
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-bottom{
  margin: 0 auto;
  width:1400px;
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-top>.bn9-top-left{
  width:200px; 
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color:#333;
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-bottom>.bn9-bottom-left{
  width:200px; 
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color:#333;
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-top>.slick-slider{
  width:1200px;
  padding:38px 0;
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-bottom>.slick-slider{
  border-top: 2px solid black;
  width:1200px;
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-top>.slick-slider>.slick-prev.slick-arrow{
  position: absolute;
  top:80px;
  left: -130px;
  width:15px;
  height: 20px;
  background-image: url(https://sehee3527.github.io/img1/pf/artfive/notice_arrow_btn.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-bottom>.slick-slider>.slick-prev.slick-arrow{
  position: absolute;
  top:80px;
  left: -130px;
  width:15px;
  height: 20px;
  background-image: url(https://sehee3527.github.io/img1/pf/artfive/notice_arrow_btn.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bn9>.fp-tableCell>.bn-bg>.center>.bn9-top>.slick-slider>.slick-next.slick-arrow{
  position: absolute;
  top:80px;
  left: -80px;
  width:15px;
  height: 20px;
  background-image: url(https://sehee3527.github.io/img1/pf/artfive/notice_arrow_btn.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg) translateY(50%);
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-bottom>.slick-slider>.slick-next.slick-arrow{
  position: absolute;
  top:80px;
  left: -80px;
  width:15px;
  height: 20px;
  background-image: url(https://sehee3527.github.io/img1/pf/artfive/notice_arrow_btn.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg) translateY(50%);
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-top>.slick-slider>.slick-prev.slick-arrow::before{
  display: none;
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-bottom>.slick-slider>.slick-prev.slick-arrow::before{
  display: none;
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-top>.slick-slider>.slick-next.slick-arrow::before{
  display: none;
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-bottom>.slick-slider>.slick-next.slick-arrow::before{
  display: none;
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-bottom{
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-bottom>.slick-slider .media-content>.media-content-item>.date{
  text-align: center;
  font-size: 30px;
  color:#333;
  width:150px;
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-bottom>.slick-slider .media-content>.media-content-item{
  padding:38px 0;
  border-bottom: 1px solid #777;
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-bottom>.slick-slider .media-content>.media-content-item>.date>div:nth-child(2){
  font-size: 15px;
  color:#777;
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-bottom>.slick-slider .media-content>.media-content-item>.media-content-item-item>.name{
  font-size: 24px;
  line-height: 24px;
  color:#333;
  letter-spacing: -1px;
  font-weight: 500;
  margin-top: 10px;
}
.bn9>.fp-tableCell>.bn-bg>.center>.bn9-bottom>.slick-slider .media-content>.media-content-item>.media-content-item-item>.content{
  color:#777;
  font-size:17px;
  line-height: 17px;
  margin-top: 10px;
}
#footer{
  text-align: center;
  padding-bottom: 30px;
}

@media(max-width:1450px){
  #footer{
    width:1450px;
  }
}
#footer>.logo{
  margin-top: 150px;
  display: inline-block;
}
#footer>a>img{
  display: block;
}
#footer>ul{
  margin-top: 35px;

}
#footer>ul>li{
  font-size: 15px;
  color:#333;
}